section.loyal.section-top
  .container 
    .heading 
      h1.h1 Правовая информация
    .loyal__section 
      .loyal__documents 
        a(href="#").loyal__document
          +svg(20, 20, 'document')
          span Временные правила посещения комплекса
        a(href="#").loyal__document
          +svg(20, 20, 'document')
          span Политика обработки персональных данных
        a(href="#").loyal__document
          +svg(20, 20, 'document')
          span Описание СРК «ЭНЕРГИЯ ВЫСОТЫ»
    .loyal__section 
      .loyal__documents 
        a(href="#").loyal__document
          +svg(20, 20, 'document')
          span ПУБЛИЧНАЯ ОФЕРТА (ПРЕДЛОЖЕНИЕ) на посещение комплекса
        a(href="#").loyal__document
          +svg(20, 20, 'document')
          span ПУБЛИЧНАЯ ОФЕРТА (ПРЕДЛОЖЕНИЕ) на организацию мероприятия
        a(href="#").loyal__document
          +svg(20, 20, 'document')
          span ПУБЛИЧНАЯ ОФЕРТА (ПРЕДЛОЖЕНИЕ) на организацию мероприятия на скалодроме
        a(href="#").loyal__document
          +svg(20, 20, 'document')
          span ПУБЛИЧНАЯ ОФЕРТА (ПРЕДЛОЖЕНИЕ) на приобретение сертификата в веревочный парк
        a(href="#").loyal__document
          +svg(20, 20, 'document')
          span ПУБЛИЧНАЯ ОФЕРТА (ПРЕДЛОЖЕНИЕ) на приобретение сертификата на спортивный скалодром
        a(href="#").loyal__document
          +svg(20, 20, 'document')
          span ПУБЛИЧНАЯ ОФЕРТА (ПРЕДЛОЖЕНИЕ) на тренировочные занятия
        a(href="#").loyal__document
          +svg(20, 20, 'document')
          span ПУБЛИЧНАЯ ОФЕРТА (ПРЕДЛОЖЕНИЕ) участия в программе «Клубная карта»
        a(href="#").loyal__document
          +svg(20, 20, 'document')
          span ПУБЛИЧНАЯ ОФЕРТА (ПРЕДЛОЖЕНИЕ) участия в программе лояльности «Баллы за покупку»
        a(href="#").loyal__document
          +svg(20, 20, 'document')
          span ПУБЛИЧНАЯ ОФЕРТА (ПРЕДЛОЖЕНИЕ) на покупку абонемента на посещение веревочного парка
        a(href="#").loyal__document
          +svg(20, 20, 'document')
          span ПУБЛИЧНАЯ ОФЕРТА (ПРЕДЛОЖЕНИЕ) на покупку абонемента на посещение веревочного парка
    .loyal__section 
      .loyal__documents 
        a(href="#").loyal__document
          +svg(20, 20, 'document')
          span Правила посещения комплекса
        a(href="#").loyal__document
          +svg(20, 20, 'document')
          span Техника безопасности в веревочном парке
        a(href="#").loyal__document
          +svg(20, 20, 'document')
          span Техника безопасности на малом скалодроме
        a(href="#").loyal__document
          +svg(20, 20, 'document')
          span Техника безопасности QuickJump
        a(href="#").loyal__document
          +svg(20, 20, 'document')
          span Техника безопасности Троллей
        a(href="#").loyal__document
          +svg(20, 20, 'document')
          span Техника безопасности на спортивном скалодроме
        a(href="#").loyal__document
          +svg(20, 20, 'document')
          span Техника безопасности на батутах
        a(href="#").loyal__document
          +svg(20, 20, 'document')
          span Техника безопасности на мобильном веревочном парке/стенде скалодрома
        a(href="#").loyal__document
          +svg(20, 20, 'document')
          span Расписка на приобретение билета
        a(href="#").loyal__document
          +svg(20, 20, 'document')
          span Расписка на приобретение абонемента
        a(href="#").loyal__document
          +svg(20, 20, 'document')
          span Расписка на несовершеннолетнего (посещение скалодрома)
        a(href="#").loyal__document
          +svg(20, 20, 'document')
          span Заявка на организацию мероприятия на скалодроме
        a(href="#").loyal__document
          +svg(20, 20, 'document')
          span Прейскурант
    .loyal__section 
      .loyal__documents 
        a(href="#").loyal__document
          +svg(20, 20, 'document')
          span Специальная оценка условий труда ч.1
        a(href="#").loyal__document
          +svg(20, 20, 'document')
          span Специальная оценка условий труда ч.2
        a(href="#").loyal__document
          +svg(20, 20, 'document')
          span Специальная оценка условий труда ч.3