.loyal {

  &__section {

    &:not(:last-of-type) {
      margin-bottom: 48px;
    }
  }

  &__documents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  &__document {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    font-size: 18px;
    line-height: 1.56;
    font-weight: 400;
    transition: color 0.3s ease;

    svg {
      display: block;
      flex-shrink: 0;
      margin-top: 4px;
    }

    @include mq-hover {
      color: var(--color-accent);
    }
  }
}