.contacts {

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;

    @include mq($xl) {
      gap: 60px;
    }
  }
}

.contact-us {
  width: 100%;
  padding: 24px;
  background-color: var(--color-white);
  border-radius: 56px;
  box-shadow: 0px 4px 20px 0px #D6D5D54D;

  @include mq($l) {
    padding: 16px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    padding: 48px 36px;
    background: url('../img/contacts/bg.jpg') center center / cover no-repeat;
    border-radius: var(--rounded-3xl);
    overflow: hidden;

    @include mq($l) {
      padding: 48px 24px;
    }

    @include mq($m) {
      padding: 24px 16px 40px;
      background-image: url('../img/contacts/bg-sm.jpg');
    }
  }

  &__title {
    padding: 19px 35px;
    font-size: 48px;
    font-weight: 500;
    line-height: 1;
    border: 1px solid var(--color-white);
    border-radius: 60px;

    @include mq($l) {
      font-size: 30px;
      line-height: 1.3;
    }

    @include mq($m) {
      width: 100%;
      text-align: center;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding-left: 36px;

    @include mq($l) {
      padding-left: 20px;
    }

    @include mq($m) {
      padding-left: 0;
    }

    @include mq($s) {
      width: 100%;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;

    @include mq($s) {
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
  }

  &__schedule {
    display: flex;
    align-items: center;
    gap: 12px;

    @include mq($s) {
      width: 100%;
      flex-direction: column;
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 16px 36px;
      background-color: var(--color-secondary-200);
      border-radius: var(--rounded-6xl);

      @include mq($s) {
        width: 100%;
      }

      &-time {
        font-family: var(--font-secondary);
        font-size: 18px;
        line-height: 1.56;
      }

      &-zone {
        font-size: 16px;
        line-height: 1.5;
      }
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 18px;
    padding-left: 36px;

    @include mq($l) {
      padding-left: 20px;
    }

    @include mq($m) {
      padding-left: 0;
    }

    @include mq($s) {
      width: 100%;
      flex-direction: column;
      align-items: center;

      .btn {
        width: 100%;
      }
    }
  }
}

.how-to-get {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;

  @include mq($xl) {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  &__map {
    width: 100%;
    height: 100%;
    border-radius: var(--rounded-3xl);
    overflow: hidden;

    @include mq($xl) {
      height: 360px;
    }

    @include mq($m) {
      height: 300px;
    }

    .map {
      width: 100%;
      height: 100%;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    padding-left: 60px;

    @include mq($xxl) {
      padding-left: 0;
    }
  }

  &__title {
    padding: 19px 33px;
    font-size: 48px;
    font-weight: 500;
    line-height: 1;
    border: 1px solid var(--color-accent-600);
    border-radius: 60px;

    @include mq($l) {
      font-size: 30px;
      line-height: 1.3;
    }

    @include mq($m) {
      width: 100%;
      text-align: center;
    }
  }

  &__details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    padding-left: 36px;

    @include mq($xl) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
      padding-left: 0;
    }

    @include mq($l) {
      grid-template-columns: 1fr;
      padding-left: 36px;
    }

    @include mq($m) {
      padding-left: 0;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;


    &:first-child {

      @include mq($xl) {
        padding-left: 36px;
      }

      @include mq($l) {
        padding-left: 0;
      }
    }



    @include mq($m) {
      align-items: center;
    }

    &-title {
      display: inline-flex;
      align-items: center;
      gap: 20px;
      font-size: 24px;
      line-height: 1.2;

      span {
        display: contents
      }

      @include mq($m) {
        width: 100%;
        flex-direction: column;
        align-items: center;

        span {
          display: flex;
          align-items: center;
          gap: 20px;
        }
      }
    }

    &-desc {
      font-size: 20px;
      line-height: 1.5;
      font-weight: 300;
      color: var(--color-blck-500);
    }

    &-bus {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 13px;

      @include mq($m) {
        align-items: center;
      }

      &-line {
        display: flex;
        align-items: center;
        gap: 12px;

        &-nums {
          display: flex;
          align-items: center;
          gap: 10px;
        }

        &-label {
          font-size: 20px;
          line-height: 1.3;
          font-weight: 300;
          color: var(--color-blck-500);
        }

        &-num {
          padding: 2px 4px;
          font-size: 18px;
          font-weight: 700;
          line-height: 1.56;
          background-color: var(--color-blck-25);
          border-radius: var(--rounded-2xs);
        }
      }
    }
  }
}