.blog {
  position: relative;

  &__decor {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    img {
      display: block;
      width: 100%;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding-bottom: 48px;

    @include mq($xxl) {
      gap: 40px 24px;
    }

    @include mq($xl) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq($s) {
      grid-template-columns: 1fr;
      gap: 20px;
    }

    .blog-card {

      &:nth-of-type(3n + 2) {

        top: 48px;

        @include mq($xl) {
          top: auto;
        }
      }

      &:nth-of-type(even) {

        @include mq($xl) {
          top: 48px;
        }

        @include mq($s) {
          top: auto;
        }
      }
    }
  }
}

.blog-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-blck-25);
  border-radius: 32px 32px 24px 24px;
  overflow: hidden;

  @include mq-hover {


    &:hover {
      background-color: var(--color-accent-25);
      box-shadow: 0px 4px 20px 0px #D6D5D54D;

      .blog-card__icon {
        transform: rotate(45deg);
        color: var(--color-accent);
      }
    }
  }

  &__main {
    position: relative;
    width: 100%;
    height: 292px;

    @include mq($xxl) {
      height: 245px;
    }

    @include mq($xl) {
      height: 306px;
    }

    @include mq($l) {
      height: 216px;
    }

    @include mq($s) {
      height: 228px;
    }
  }

  &__img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: var(--rounded-xl);
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(43, 42, 41, 0) 50.48%, #2B2A29 100%);
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__date {
    position: absolute;
    left: 12px;
    bottom: 12px;
    display: inline-block;
    padding: 8px 16px;
    font-family: var(--font-secondary);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    background-color: var(--color-blck-25);
    color: var(--color-blck);
    border-radius: 72px;
  }

  &__icon {
    position: absolute;
    bottom: 12px;
    right: 12px;
    transition: 0.3s ease;
  }

  &__info {
    padding: 24px 20px 36px;
  }

  &__title {
    font-size: 20px;
    line-height: 1.44;
    font-weight: 700;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  &__desc {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
    color: var(--color-blck-400);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    margin-top: 8px;
  }
}