.other-news
  .container
    +section-heading('Другие новости', 'Все новости')
    .other-news__slider(data-slider="other-news")
      .swiper-wrapper 
        .swiper-slide 
          a(href="#").blog-card 
            .blog-card__main 
              picture.blog-card__img 
                img(src="./img/blog/img-01.jpg", alt="Новость 1")
              .blog-card__date 22.03.25
              .blog-card__icon.btn-link.btn-link_m 
                +svg(20, 20, "arrow-link")
            .blog-card__info 
              .blog-card__title Заголовок новости в две строки сделать ограничение в две строки, если текст длиннее
              .blog-card__desc Текст новости, превью в три строки, сделать ограничение, если текст будет длиннее, чем три строки, если будет четвертая строка, то её надо скрыть срочно обморочно...
        .swiper-slide 
          a(href="#").blog-card 
            .blog-card__main 
              picture.blog-card__img 
                img(src="./img/blog/img-01.jpg", alt="Новость 1")
              .blog-card__date 22.03.25
              .blog-card__icon.btn-link.btn-link_m 
                +svg(20, 20, "arrow-link")
            .blog-card__info 
              .blog-card__title Заголовок новости в две строки сделать ограничение в две строки, если текст длиннее
              .blog-card__desc Текст новости, превью в три строки, сделать ограничение, если текст будет длиннее, чем три строки, если будет четвертая строка, то её надо скрыть срочно обморочно...
        .swiper-slide 
          a(href="#").blog-card 
            .blog-card__main 
              picture.blog-card__img 
                img(src="./img/blog/img-01.jpg", alt="Новость 1")
              .blog-card__date 22.03.25
              .blog-card__icon.btn-link.btn-link_m 
                +svg(20, 20, "arrow-link")
            .blog-card__info 
              .blog-card__title Заголовок новости в две строки сделать ограничение в две строки, если текст длиннее
              .blog-card__desc Текст новости, превью в три строки, сделать ограничение, если текст будет длиннее, чем три строки, если будет четвертая строка, то её надо скрыть срочно обморочно...
        .swiper-slide 
          a(href="#").blog-card 
            .blog-card__main 
              picture.blog-card__img 
                img(src="./img/blog/img-01.jpg", alt="Новость 1")
              .blog-card__date 22.03.25
              .blog-card__icon.btn-link.btn-link_m 
                +svg(20, 20, "arrow-link")
            .blog-card__info 
              .blog-card__title Заголовок новости в две строки сделать ограничение в две строки, если текст длиннее
              .blog-card__desc Текст новости, превью в три строки, сделать ограничение, если текст будет длиннее, чем три строки, если будет четвертая строка, то её надо скрыть срочно обморочно...
        .swiper-slide 
          a(href="#").blog-card 
            .blog-card__main 
              picture.blog-card__img 
                img(src="./img/blog/img-01.jpg", alt="Новость 1")
              .blog-card__date 22.03.25
              .blog-card__icon.btn-link.btn-link_m 
                +svg(20, 20, "arrow-link")
            .blog-card__info 
              .blog-card__title Заголовок новости в две строки сделать ограничение в две строки, если текст длиннее
              .blog-card__desc Текст новости, превью в три строки, сделать ограничение, если текст будет длиннее, чем три строки, если будет четвертая строка, то её надо скрыть срочно обморочно...
        .swiper-slide 
          a(href="#").blog-card 
            .blog-card__main 
              picture.blog-card__img 
                img(src="./img/blog/img-01.jpg", alt="Новость 1")
              .blog-card__date 22.03.25
              .blog-card__icon.btn-link.btn-link_m 
                +svg(20, 20, "arrow-link")
            .blog-card__info 
              .blog-card__title Заголовок новости в две строки сделать ограничение в две строки, если текст длиннее
              .blog-card__desc Текст новости, превью в три строки, сделать ограничение, если текст будет длиннее, чем три строки, если будет четвертая строка, то её надо скрыть срочно обморочно...
      .common-slider-scrollbar
        .swiper-scrollbar(data-slider-scrollbar="other-news")
    .section-bottom   
      a(href="#").btn.btn_wide.btn_gradient Все новости 