.article {
  padding: 20px 0 40px;

  &__inner {
    max-width: 970px;
  }

  &__date {
    display: inline-block;
    margin-bottom: 16px;
    padding: 11px 12px;
    background-color: var(--color-blck-50);
    border-radius: 72px;
    font-size: 14px;
    line-height: 1;
    font-family: var(--font-secondary);
  }

  &__title {
    margin-bottom: 48px;

    @include mq($l) {
      margin-bottom: 32px;
    }
  }

  &__subtitle {
    font-size: 24px;
    line-height: 1.3;
    font-weight: 300;
    color: var(--color-blck-600);
  }

  &__head {
    margin-bottom: 48px;

    @include mq($l) {
      margin-bottom: 24px;
    }
  }

  &__main {


    h2 {
      font-family: var(--font-secondary);
      font-size: 30px;
      line-height: 1.3;
      margin-bottom: 24px;

      @include mq($l) {
        font-size: 24px;
      }
    }

    picture {
      position: relative;
      display: block;
      width: 100%;
      padding: 15px;
      border-radius: 32px;
      border: 1px solid var(--color-blck-50);
      overflow: hidden;

      &::before {
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        inset: 0;
        background: linear-gradient(0deg, rgba(13, 13, 13, 0.5) 40%, rgba(13, 13, 13, 0) 100%);
        z-index: 0;
        border-radius: 32px;
      }

      &::after {
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        inset: 0;
        border: 15px solid var(--color-white);
        inset: 0;
        z-index: 1;
        border-radius: 32px;
      }

      img {
        display: block;
        width: 100%;
        border-radius: 24px;
      }
    }

    picture,
    ul,
    p {
      display: block;
      margin-bottom: 48px;

      @include mq($l) {
        margin-bottom: 24px;
      }
    }

    ul {
      list-style: disc;
      padding-left: 28px;

      li {
        list-style: disc;
      }
    }

    ul li,
    p {
      font-size: 18px;
      line-height: 1.56;
      font-weight: 300;
      color: var(--color-blck-600);
    }


    * {

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}