.section-heading {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0 48px; 
  z-index: 2;

  @include mq($m)  {
    padding-bottom: 32px;
  }
}

.section-heading-btn {

  @include mq($m) {
    display: none;
  }
}