.pricelist__section(data-tabs-panel="pricelist-sport-sections" data-id="pr")
  .pricelist__section-inner(data-tabs data-id="pr-sport")
    .pricelist__section-nav 
      button(type="button" data-tabs-control="pr-sp-adult" data-id="pr-sport").pricelist__section-tab-btn.is-selected Скалолазание для взрослых
      button(type="button" data-tabs-control="pr-sp-kids" data-id="pr-sport").pricelist__section-tab-btn Скалолазание для детей
      button(type="button" data-tabs-control="pr-sp-other" data-id="pr-sport").pricelist__section-tab-btn Другие секции
    .pricelist__section-blocks
      .pricelist__section-block.is-selected(data-tabs-panel="pr-sp-adult" data-id="pr-sport") 
        .pricelist__section-item
          .pricelist__section-table 
            .table.table--week
              .table__head 
                .table__head-cell
                  .table__head-title.table__head-title--white товар/услуга
                .table__head-cell
                  .table__head-title пн
                .table__head-cell
                  .table__head-title вт
                .table__head-cell
                  .table__head-title ср
                .table__head-cell
                  .table__head-title чт
                .table__head-cell
                  .table__head-title пт
                .table__head-cell
                  .table__head-title сб
                .table__head-cell
                  .table__head-title вс
              .table__body 
                .table__row 
                  .table__cell
                    .table__info 
                      .table__info-title Дети 4-5 лет
                      .table__info-desc Скалолазание. Включён вход в зал и аренда обвязки
                  .table__cell
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                .table__row 
                  .table__cell
                    .table__info 
                      .table__info-title Дети 4-5 лет
                      .table__info-desc Скалолазание. Включён вход в зал и аренда обвязки
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                .table__row 
                  .table__cell
                    .table__info 
                      .table__info-title Дети 6-8 лет
                      .table__info-desc Скалолазание
                  .table__cell
                  .table__cell
                  .table__cell
                  .table__cell
                    .schedule-card.schedule-card_secondary
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                    .schedule-card.schedule-card_secondary
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                    .schedule-card.schedule-card_secondary
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                    .schedule-card.schedule-card_secondary
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
      .pricelist__section-block(data-tabs-panel="pr-sp-kids" data-id="pr-sport") 
        .pricelist__section-item
          .pricelist__section-title Спортшкола скалолазания
          .pricelist__section-table 
            .table.table--week
              .table__head 
                .table__head-cell
                  .table__head-title.table__head-title--white товар/услуга
                .table__head-cell
                  .table__head-title пн
                .table__head-cell
                  .table__head-title вт
                .table__head-cell
                  .table__head-title ср
                .table__head-cell
                  .table__head-title чт
                .table__head-cell
                  .table__head-title пт
                .table__head-cell
                  .table__head-title сб
                .table__head-cell
                  .table__head-title вс
              .table__body 
                .table__row 
                  .table__cell
                    .table__info 
                      .table__info-title Дети 4-5 лет
                      .table__info-desc Скалолазание. Включён вход в зал и аренда обвязки
                  .table__cell
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                .table__row 
                  .table__cell
                    .table__info 
                      .table__info-title Дети 4-5 лет
                      .table__info-desc Скалолазание. Включён вход в зал и аренда обвязки
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                .table__row 
                  .table__cell
                    .table__info 
                      .table__info-title Дети 6-8 лет
                      .table__info-desc Скалолазание
                  .table__cell
                  .table__cell
                  .table__cell
                  .table__cell
                    .schedule-card.schedule-card_secondary
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                    .schedule-card.schedule-card_secondary
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                    .schedule-card.schedule-card_secondary
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                    .schedule-card.schedule-card_secondary
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
        .pricelist__section-item
          .pricelist__section-title Академия Чемпион
          .pricelist__section-table 
            .table.table--week
              .table__head 
                .table__head-cell
                  .table__head-title.table__head-title--white товар/услуга
                .table__head-cell
                  .table__head-title пн
                .table__head-cell
                  .table__head-title вт
                .table__head-cell
                  .table__head-title ср
                .table__head-cell
                  .table__head-title чт
                .table__head-cell
                  .table__head-title пт
                .table__head-cell
                  .table__head-title сб
                .table__head-cell
                  .table__head-title вс
              .table__body 
                .table__row 
                  .table__cell
                    .table__info 
                      .table__info-title Дети 4-5 лет
                      .table__info-desc Скалолазание. Включён вход в зал и аренда обвязки
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                .table__row 
                  .table__cell
                    .table__info 
                      .table__info-title Дети 4-5 лет
                      .table__info-desc Скалолазание. Включён вход в зал и аренда обвязки
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                .table__row 
                  .table__cell
                    .table__info 
                      .table__info-title Дети 4-5 лет
                      .table__info-desc Скалолазание. Включён вход в зал и аренда обвязки
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell

      .pricelist__section-block(data-tabs-panel="pr-sp-other" data-id="pr-sport") 
        .pricelist__section-item
          .pricelist__section-table 
            .table.table--week
              .table__head 
                .table__head-cell
                  .table__head-title.table__head-title--white товар/услуга
                .table__head-cell
                  .table__head-title пн
                .table__head-cell
                  .table__head-title вт
                .table__head-cell
                  .table__head-title ср
                .table__head-cell
                  .table__head-title чт
                .table__head-cell
                  .table__head-title пт
                .table__head-cell
                  .table__head-title сб
                .table__head-cell
                  .table__head-title вс
              .table__body 
                .table__row 
                  .table__cell
                    .table__info 
                      .table__info-title Yukando
                      .table__info-desc Паркур. Дети 7-9 лет
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                  .table__cell
                .table__row 
                  .table__cell
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                    .schedule-card
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                .table__row 
                  .table__cell
                    .table__info 
                      .table__info-title Художественная гимнастика «Орион»
                      .table__info-desc Скалолазание. Включён вход в зал и аренда обвязки
                  .table__cell
                  .table__cell
                  .table__cell
                    .schedule-card.schedule-card_secondary
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                  .table__cell
                    .schedule-card.schedule-card_secondary
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                  .table__cell
                .table__row 
                  .table__cell
                  .table__cell
                    .schedule-card.schedule-card_secondary
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                  .table__cell
                    .schedule-card.schedule-card_secondary
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                  .table__cell
                    .schedule-card.schedule-card_secondary
                      button(type="button" data-tippy-content).schedule-card__info 
                        +svg(24, 24, 'info-in-circle')
                      .schedule-card__inner
                        .schedule-card__top 
                          .schedule-card__time 18:00-19:30
                          .schedule-card__teacher Гринев Виктор
                        .schedule-card__bottom 7-9 лет
                  .table__cell
                  .table__cell
        .pricelist__section-item
          .pricelist__section-title Стоимость входа в зал для посетителей не скалолазных секций
          .pricelist__section-table 
            .table.table--sm
              .table__head 
                .table__head-cell
                  .table__head-title.table__head-title--white кол-во человек
                .table__head-cell
                  .table__head-title будни до 16:00
                .table__head-cell
                  .table__head-title будни после 16:00, выходные праздники
              .table__body 
                .table__row 
                  .table__cell
                    .table__info 
                      .table__info-title Вход для посетителей секции
                  .table__cell
                    .table__desc
                      b 270 ₽
                  .table__cell
                    .table__desc
                      b 270 ₽