@font-face {
  font-family: 'ProstoOne';
  src: url('../fonts/ProstoOne/ProstoOne-Regular.woff2') format('woff2'),
    url('../fonts/ProstoOne/ProstoOne-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ProstoOne';
  src: url('../fonts/Geologica/Geologica-Thin.woff2') format('woff2'),
    url('../fonts/Geologica/Geologica-Thin.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geologica';
  src: url('../fonts/Geologica/Geologica-Light.woff2') format('woff2'),
    url('../fonts/Geologica/Geologica-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geologica';
  src: url('../fonts/Geologica/Geologica-Regular.woff2') format('woff2'),
    url('../fonts/Geologica/Geologica-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geologica';
  src: url('../fonts/Geologica/Geologica-Medium.woff2') format('woff2'),
    url('../fonts/Geologica/Geologica-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geologica';
  src: url('../fonts/Geologica/Geologica-SemiBold.woff2') format('woff2'),
    url('../fonts/Geologica/Geologica-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}