.modal-shorts {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  padding: 24px 0;

  .fancybox-close-small {
    display: none;
  }

  &__close {
    width: 108px;
    height: 108px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    color: var(--color-white);
    cursor: pointer;
    transition: color 0.3s ease;

    @include mq-hover {
      color: var(--color-accent);
    }

    @include mq($l) {
      width: 68px;
      height: 68px;
    }
  }

  &__inner {
    width: 100%;

    @include mq($l) {
      max-width: 385px;
      position: relative;
      margin: 0 auto;
    }

    @include mq($m) {
      max-width: 100%;
    }
  }

  &__slider {
    overflow: hidden;

    @include mq($l) {
      width: 385px;
      margin: 0 auto;
    }

    @include mq($m) {
      max-width: 327px;
      width: 100%;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 24px;

    @include mq($l) {
      position: absolute;
      top: 50%;
      left: -50px;
      justify-content: space-between;
      width: calc(100% + 140px);
    }

    @include mq($m) {
      position: static;
      justify-content: center;
      width: 100%;
    }
  }
}

.shorts-video {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
  padding: 24px 16px;
  color: var(--color-white);
  border-radius: var(--rounded-3xl);
  overflow: hidden;
  z-index: 1;

  &.swiper-slide {
    width: 410px;
    height: 700px;
    opacity: 0;
    transition: 0.25s ease;

    @include mq($xl) {
      width: 385px;
      height: 660px;
    }

    @include mq($m) {
      width: 100%;
      height: 500px;
    }
  }

  &.swiper-slide-active {
    opacity: 1;
    transform: scale(1);
  }

  &.swiper-slide-prev,
  &.swiper-slide-next {
    opacity: 1;
    transform: scale(0.8);

    .shorts-video__play-btn {
      opacity: 0;
    }
  }

  &.swiper-slide-active {

    .shorts-video__img::before {
      height: 350px;
      background: linear-gradient(179.98deg, rgba(43, 42, 41, 0) 0.02%, #2B2A29 99.98%);
    }
  }

  &.is-playing {
    padding-bottom: 60px;

    .shorts-video__img {
      display: none;
    }

    .shorts-video__player {
      display: block;
    }

    .shorts-video__play-btn {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }

  @include mq-hover {
    .shorts-video__img::before {
      opacity: 0;
    }
  }
  
  &__player {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    z-index: -1;
  }

  &__img {
    display: block;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(179.98deg, rgba(43, 42, 41, 0.4) 0.02%, #2B2A29 99.98%);
      transition: 0.25s ease;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__details {
    display: flex;
    align-items: center;
    gap: 12px;

    &-img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-author {
      font-size: 16px;
      line-height: 1.5;
      font-weight: 500;
    }

    &-date {
      font-size: 14px;
      line-height: 1.5;
      font-weight: 300;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__desc {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__views {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
    color: var(--color-white);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;

    svg {
      flex-shrink: 0;
    }
  }

  &__link {
    flex-shrink: 0;

    svg {
      display: block;
      width: 20px;
      height: 20px;
    }
  }
}