* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  min-width: 320px;
  height: 100%;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  scrollbar-gutter: stable;
}

body {
  color: var(--color-blck);
  font-size: var(--font-size-default);
  font-family: var(--font-primary);
  line-height: 1.2;

  // text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Custom scrollbar
::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--color-accent);
}

// Custom selection
::selection {
  color: cl(primary);
  background: cl(bg);
}

input,
button,
textarea {
  font-size: inherit;
  font-family: var(--font-primary);
  line-height: inherit;
}

details>summary {
  list-style: none;
}

details>summary::-webkit-details-marker {
  display: none;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

button {
  color: inherit;
  font-family: var(--font-primary);
  background-color: transparent;
  outline: 0;
  cursor: pointer;
}

div[class*='__text'],
div[class*='__details'],
div[class*='__note'] {

  p:only-of-type,
  p:last-of-type {
    margin: 0;
  }
}

[class*='image'] img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

address,
cite {
  font-style: normal;
}

fieldset,
dl,
dd {
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
}

img {
  display: block;
  max-width: 100%;
}