.h1 {
  font-size: 48px;
  line-height: 1;
  font-weight: 500;

  @include mq($l) {
    font-size: 30px;
    line-height: 1.2;
  }
}


.h2 {
  font-size: 30px;
  line-height: 1.3;

  @include mq($l) {
    font-size: 24px;
    line-height: 1.4;
  }
}

.h3 {
  font-size: 30px;
  line-height: 1.3;
  font-weight: 600;
}

.h4 {
  font-size: 24px;
  line-height: 1.32;
  font-weight: 300;
}