.common-slider-scrollbar {
  margin-top: 24px;
  padding: 8px 16px;

  .swiper-scrollbar {
    width: 100%;
    position: relative;
    inset: auto;
    opacity: 1 !important;
    height: 3px;
    border-radius: 10px;
    background-color: var(--color-blck-100);
  }

  .swiper-scrollbar-drag {
    background-color: var(--color-accent);
  }
}

.common-slider-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.common-slider-btn {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}