.pricelist.section-top
  .container
    .heading
      h1.h1 Цены
    .pricelist__inner(data-tabs data-id="pr")
      .pricelist__nav 
        button(type="button" data-tabs-control="pricelist-park" data-id="pr").pricelist__nav-item.is-selected Веревочный парк
        button(type="button" data-tabs-control="pricelist-wall" data-id="pr").pricelist__nav-item Скалодром
        button(type="button" data-tabs-control="pricelist-events" data-id="pr").pricelist__nav-item Проведение праздников
        button(type="button" data-tabs-control="pricelist-sport-sections" data-id="pr").pricelist__nav-item Секции
      .pricelist__content
        include ./pricelist-park/index
        include ./pricelist-wall/index
        include ./pricelist-events/index
        include ./pricelist-sport-sections/index