.pricelist.section-top
  .container
    .heading
      h1.h1 Цены
    .pricelist__inner
      .pricelist__nav 
        .pricelist__nav-item
          input(type="radio", id="id_pr_nav_01" name="pr_nav" checked)
          label(for="id_pr_nav_01") Веревочный парк
        .pricelist__nav-item
          input(type="radio", id="id_pr_nav_02" name="pr_nav")
          label(for="id_pr_nav_02") Скалодром
        .pricelist__nav-item
          input(type="radio", id="id_pr_nav_03" name="pr_nav")
          label(for="id_pr_nav_03") Проведение праздников
        .pricelist__nav-item
          input(type="radio", id="id_pr_nav_04" name="pr_nav")
          label(for="id_pr_nav_04") Секции
      .pricelist__content(data-tabs)  
        .pricelist__section
          .pricelist__section-nav 
            button(type="button" data-tab="tickets").pricelist__section-tab-btn.is-active Билеты
            button(type="button" data-tab="more-services").pricelist__section-tab-btn Доп. услуги
          .pricelist__section-blocks
            .pricelist__section-block.is-active(data-tab-content="tickets") 
              .pricelist__table 
                .table 
                  .table__head 
                    .table__head-cell
                      .table__head-title.table__head-title--white направление
                    .table__head-cell
                      .table__head-title инфо
                    .table__head-cell
                      .table__head-title длительность
                    .table__head-cell
                      .table__head-title кол-во чел.
                    .table__head-cell
                      .table__head-title в будни
                    .table__head-cell
                      .table__head-title в выходные
                    .table__head-cell
                  .table__body 
                    .table__row 
                      .table__cell
                        .table__info
                          .table__info-title Все приключения Turbo
                          .table__info-desc Рост от 120 см.
                      .table__cell
                        .table__text Верёвочный парк все уровни, прыжок с крыла настоящего самолёта (∞), интерактивный скалодром, активити зона
                      .table__cell
                        .table__desc 
                          b Весь день
                      .table__cell
                        .table__desc 1
                      .table__cell
                        .table__desc 
                          b 3 880₽
                      .table__cell
                        .table__desc 
                          b 4 380₽
                      .table__cell 
                        button(type="button").btn-icon.btn-icon_m.btn-icon_gradient 
                          +svg(22, 22, 'tickets')
                    .table__row 
                      .table__cell
                        .table__info
                          .table__info-title Все приключения
                          .table__info-desc Рост от 120 см.
                      .table__cell
                        .table__text Верёвочный парк все уровни, прыжок с крыла настоящего самолёта (1), интерактивный скалодром, активити зона
                      .table__cell
                        .table__desc 
                          b 3 часа
                      .table__cell
                        .table__desc 1
                      .table__cell
                        .table__desc 
                          b 2 580₽
                      .table__cell
                        .table__desc 
                          b 3 280₽
                      .table__cell 
                        button(type="button").btn-icon.btn-icon_m.btn-icon_gradient 
                          +svg(22, 22, 'tickets')
                    .table__row 
                      .table__cell
                        .table__info
                          .table__info-title Юный верхолаз
                          .table__info-desc Рост до 140 см.
                      .table__cell
                        .table__text 2 трассы нижнего уровня, активити зона
                      .table__cell
                        .table__desc 
                          b 2 часа
                      .table__cell
                        .table__desc 1
                      .table__cell
                        .table__desc 
                          b 1 580₽
                      .table__cell
                        .table__desc 
                          b 2 180₽
                      .table__cell 
                        button(type="button").btn-icon.btn-icon_m.btn-icon_gradient 
                          +svg(22, 22, 'tickets')
                    .table__row 
                      .table__cell
                        .table__info
                          .table__info-sticker акция
                          .table__info-title Семейное трио
                          .table__info-desc Рост от 180 см.
                      .table__cell
                        .table__text Верёвочный парк все уровни, прыжок с крыла настоящего самолёта (3), интерактивный скалодром, активити зона
                      .table__cell
                        .table__desc 
                          b 3 часа
                      .table__cell
                        .table__desc 1
                      .table__cell
                        .table__desc 
                          b 5 780₽
                      .table__cell
                        .table__desc 
                          b 7 680₽
                      .table__cell 
                        button(type="button").btn-icon.btn-icon_m.btn-icon_gradient 
                          +svg(22, 22, 'tickets')
                    .table__row 
                      .table__cell
                        .table__info
                          .table__info-title 4 визита в верёвочный парк (абонемент)
                          .table__info-desc Срок действия 6 месяцев
                      .table__cell
                      .table__cell
                        .table__desc 
                          b 4 посещения
                      .table__cell
                        .table__desc 1
                      .table__cell
                        .table__desc 
                          b 7 280₽
                      .table__cell
                        .table__desc 
                          b 7 280₽
                      .table__cell 
                        button(type="button").btn-icon.btn-icon_m.btn-icon_gradient 
                          +svg(22, 22, 'tickets')
                        
            .pricelist__section-block(data-tab-content="more-services") 
              .pricelist__table 
                .table.table--more-services 
                  .table__head 
                    .table__head-cell
                      .table__head-title.table__head-title--white направление
                    .table__head-cell
                      .table__head-title инфо
                    .table__head-cell
                      .table__head-title в будни
                    .table__head-cell
                      .table__head-title в выходные
                    .table__head-cell
                  .table__body 
                    .table__row 
                      .table__cell
                        .table__info
                          .table__info-title Персональный инструктор
                          .table__info-desc 1 час, до 3х человек
                      .table__cell
                        .table__text Ваш личный наставник в приключениях 
                      .table__cell
                        .table__desc 
                          b 1 980₽
                      .table__cell
                        .table__desc 
                          b 2 380₽
                      .table__cell 
                        button(type="button").btn-icon.btn-icon_m.btn-icon_gradient 
                          +svg(22, 22, 'tickets')
                    .table__row 
                      .table__cell
                        .table__info
                          .table__info-title Семейная раздевалка
                          .table__info-desc 4 часа, до 8 чел
                      .table__cell
                        .table__text Отдельная раздевалка с душем и сауной только для вашей компании
                      .table__cell
                        .table__desc 
                          b 3 000₽
                      .table__cell
                        .table__desc 
                          b 3 000₽
                      .table__cell 
                        button(type="button").btn-icon.btn-icon_m.btn-icon_gradient 
                          +svg(22, 22, 'tickets')
                    .table__row 
                      .table__cell
                        .table__info
                          .table__info-title Аренда кают-компании
                          .table__info-desc 1 час
                      .table__cell
                        .table__text Комната для чаепития
                      .table__cell
                        .table__desc 
                          b 2 500₽
                      .table__cell
                        .table__desc 
                          b 3 000₽
                      .table__cell 
                        button(type="button").btn-icon.btn-icon_m.btn-icon_gradient 
                          +svg(22, 22, 'tickets')