.pricelist {
  padding-bottom: 0;

  &__inner {
    width: 100%;
  }

  &__nav {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    width: calc(100% + 48px);
    margin: 0 -24px 24px;
    padding: 0 24px;
    overflow-x: auto;

    @include mq($m) {
      width: calc(100% + 32px);
      margin: 0 -16px 16px;
      padding: 0 16px;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    &-item {
      position: relative;

      input {
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;

        &:checked+label {
          background-color: var(--color-accent-500);
          color: var(--color-white);
        }
      }

      label {
        display: inline-block;
        padding: 20px 36px;
        font-size: 18px;
        line-height: 1.56;
        font-weight: 500;
        background-color: var(--color-blck-25);
        border-radius: 100px;
        cursor: pointer;
        white-space: nowrap;
      }
    }
  }

  &__section {

    &-nav {
      display: inline-flex;
      align-items: center;
      gap: 8px;
      padding: 4px;
      border-radius: 1000px;
      background-color: var(--color-grey-light);
      margin-bottom: 24px;

      @include mq($m) {
        width: 100%;
        flex-direction: column;
        border-radius: var(--rounded-xl);
      }
    }

    &-tab-btn {
      display: inline-block;
      padding: 12px 24px;
      font-size: 16px;
      line-height: 1.4;
      font-weight: 500;
      border-radius: 100px;

      @include mq($m) {
        width: 100%;
      }

      &.is-active {
        background-color: var(--color-accent-500);
        color: var(--color-white);
      }
    }

    &-blocks {
      width: 100%;
    }

    &-block {
      display: none;

      &.is-active {
        display: block;
      }
    }
  }

  &__table {

    @include mq($xxl) {
      width: calc(100% + 48px);
      margin: 0 -24px 24px;
      padding: 0 24px 40px;
      overflow-x: auto;
    }

    @include mq($m) {
      width: calc(100% + 32px);
      margin: 0 -16px 16px;
      padding: 0 16px;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.table {
  width: 100%;
  padding-top: 24px;

  @include mq($xxl) {
    min-width: 1344px;
  }

  &--more-services {

    .table__head,
    .table__row {
      grid-template-columns: 240px 1fr 1fr 1fr 98px;
    }
  }

  &__head {
    display: grid;
    grid-template-columns: 240px 1fr 1fr 1fr 1fr 1fr 98px;
    margin-bottom: 20px;

    &-cell {
      padding: 4px;
    }

    &-title {
      padding: 12px 16px;
      min-height: 72px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 1000px;
      font-family: var(--font-secondary);
      text-transform: lowercase;
      text-align: center;
      font-size: 14px;
      line-height: 1.2;
      background-color: var(--color-accent-25);
      box-shadow: 0px 4px 20px 0px #D6D5D54D;

      &--white {
        background-color: var(--color-white);
      }
    }
  }

  &__body {
    border-radius: var(--rounded-4xl);
    overflow: hidden;
    box-shadow: 0px 4px 20px 0px #D6D5D54D;
  }

  &__row {
    display: grid;
    grid-template-columns: 240px 1fr 1fr 1fr 1fr 1fr 98px;

    &:last-child {
      .table__cell {
        border-bottom: none;
      }
    }
  }

  &__cell {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 16px;
    border-bottom: 1px solid var(--color-blck-50);
    border-right: 1px solid var(--color-blck-50);
    min-height: 165px;

    @include mq($m) {
      padding: 16px 8px;
    }

    &:last-child {
      border-right: none;
    }
  }

  &__desc {
    font-size: 18px;
    line-height: 1.56;
  }

  &__text {
    width: 100%;
    font-size: 12px;
    line-height: 1.3;
  }

  &__info {
    width: 100%;

    &-sticker {
      display: inline-block;
      width: auto;
      padding: 1px 8px;
      font-family: var(--font-secondary);
      font-size: 12px;
      line-height: 1.2;
      text-align: center;
      background-color: var(--color-accent-500);
      border-radius: var(--rounded-md);
      color: var(--color-white);
    }

    &-title {
      font-family: var(--font-secondary);
      font-size: 18px;
      line-height: 1.56;
      margin-bottom: 4px;

      @include mq($l) {
        font-size: 16px;
      }
    }

    &-desc {
      font-size: 14px;
      line-height: 1.4;
    }
  }
}