section.service.section-top 
  .service__bg  
    img(src="./img/decor/mountains.svg", alt="")
  .container 
    .service__wrapper
      .service__hero 
        picture.service__hero-img 
          img(src="./img/service/service-05.png", alt="Кафе")
        .service__hero-info 
          h1.service__hero-title.h1 Кафе
      .service__inner
        .service__content
          .sv-block 
            .sv-block__content 
              .sv-desc  
                p 
                  b Кафе Энергии Высоты приглашает вас во вкусное путешествие! 
              .sv-desc 
                p Гонконгские вафли, свежие салаты, горячие блюда, хачапури и многое другое. Здесь каждый найдет то, что любит: дети оценят сладкие вафли и морсы, взрослые — пиццу и свежесваренный кофе. Кафе Энергии Высоты — отличное место для отдыха после тренировки или активностей в веревочном парке!
          .sv-block 
            .sv-block__title Разнообразное меню на любой вкус
            .sv-block__content
              picture.sv-img 
                img(src="./img/service/img-07.png", alt="Фото 1")
              .sv-desc От легких закусок и полезных салатов до насыщенных горячих блюд. Большой выбор хачапури, пиццы и гонконгских вафель.
          .sv-block 
            .sv-block__title Кофе с любовью от Этлон
            .sv-block__content
              picture.sv-img 
                img(src="./img/service/img-08.png", alt="Фото 1")
              .sv-desc Качественный и вкусный кофе, от классики до авторских напитков.   
          .sv-block 
            .sv-block__title Детское меню
            .sv-block__content
              picture.sv-img 
                img(src="./img/service/img-09.png", alt="Фото 1")   
              .sv-desc Специально для маленьких гостей — картофельное пюре, сосиски-осьминожки, макароны с сыром и многое другое. 
          .sv-block 
            .sv-block__content 
              .sv-attention 
                h2 Обратите внимание!
                ul 
                  li Все блюда и напитки готовятся в нашем кафе на территории комплекса и подаются свежими и горячими =)
        .service__sidebar
          .service__gallery
            .service__gallery-title.h3 Фотогалерея
            .service__gallery-photos 
              .service__gallery-stack
                picture.service__gallery-photo 
                  img(src="./img/service/side-01.png", alt="Фото 1")
                picture.service__gallery-photo 
                  img(src="./img/service/side-02.png", alt="Фото 2")
                picture.service__gallery-photo 
                  img(src="./img/service/side-03.png", alt="Фото 3")
                picture.service__gallery-photo 
                  img(src="./img/service/side-04.png", alt="Фото 4")
                picture.service__gallery-photo 
                  img(src="./img/service/side-05.png", alt="Фото 5")
          .service__banner 
            .service__banner-mascot 
              img(src="./img/decor/rokki.svg", alt="")
            .service__banner-title.h3 Хотите посетить 
              br 
              | наше кафе?
            .service__banner-desc Наше яркое и разнообразное меню к вашим услугам!
            .service__banner-actions 
              button(type="button").btn.btn_l.btn_wide
                span Смотреть меню

          