section.promo.section-top
  .container 
    .heading
      h1.h1 Акции
    .promo-group 
      .promo-group__title Не пропусти
      .promo-group__list 
        a(href="#").promo-card
          picture.promo-card__img 
            img(src=`./img/promo/promo-01.jpg`, alt="Акция")
          .promo-card__info
            .promo-card__date до 22.03.25
            .promo-card__title Мы ждем именно тебя! Актуальные вакансии
        a(href="#").promo-card
          picture.promo-card__img 
            img(src=`./img/promo/promo-02.jpg`, alt="Акция")
          .promo-card__info
            .promo-card__date до 10.04.25
            .promo-card__title Приключения вдвоем
        a(href="#").promo-card
          picture.promo-card__img 
            img(src=`./img/promo/promo-03.jpg`, alt="Акция")
          .promo-card__info
            .promo-card__date бессрочно
            .promo-card__title Скидочные дни
        a(href="#").promo-card
          picture.promo-card__img 
            img(src=`./img/promo/promo-04.jpg`, alt="Акция")
          .promo-card__info
            .promo-card__date до 14.03.25
            .promo-card__title Скидки компаниям от 4 человек
    .promo-group 
      .promo-group__title Акции месяца
      .promo-group__list 
        a(href="#").promo-card
          picture.promo-card__img 
            img(src=`./img/promo/promo-01.jpg`, alt="Акция")
          .promo-card__info
            .promo-card__date до 22.03.25
            .promo-card__title Мы ждем именно тебя! Актуальные вакансии
        a(href="#").promo-card
          picture.promo-card__img 
            img(src=`./img/promo/promo-02.jpg`, alt="Акция")
          .promo-card__info
            .promo-card__date до 10.04.25
            .promo-card__title Приключения вдвоем
        a(href="#").promo-card
          picture.promo-card__img 
            img(src=`./img/promo/promo-03.jpg`, alt="Акция")
          .promo-card__info
            .promo-card__date бессрочно
            .promo-card__title Скидочные дни
        a(href="#").promo-card
          picture.promo-card__img 
            img(src=`./img/promo/promo-04.jpg`, alt="Акция")
          .promo-card__info
            .promo-card__date до 14.03.25
            .promo-card__title Скидки компаниям от 4 человек
        a(href="#").promo-card
          picture.promo-card__img 
            img(src=`./img/promo/promo-01.jpg`, alt="Акция")
          .promo-card__info
            .promo-card__date до 22.03.25
            .promo-card__title Мы ждем именно тебя! Актуальные вакансии
        a(href="#").promo-card
          picture.promo-card__img 
            img(src=`./img/promo/promo-02.jpg`, alt="Акция")
          .promo-card__info
            .promo-card__date до 10.04.25
            .promo-card__title Приключения вдвоем
        a(href="#").promo-card
          picture.promo-card__img 
            img(src=`./img/promo/promo-03.jpg`, alt="Акция")
          .promo-card__info
            .promo-card__date бессрочно
            .promo-card__title Скидочные дни
        a(href="#").promo-card
          picture.promo-card__img 
            img(src=`./img/promo/promo-04.jpg`, alt="Акция")
          .promo-card__info
            .promo-card__date до 14.03.25
            .promo-card__title Скидки компаниям от 4 человек