.promo-group {
  padding-bottom: 60px;
  
  &:not(:last-child) {
    margin-bottom: 60px;
    border-bottom: 1px solid var(--color-blck-50);
  }

  &__title {
    font-size: 30px;
    line-height: 1.3;
    font-family: var(--font-secondary);
    margin-bottom: 36px;

    @include mq($l) {
      font-size: 24px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 36px 20px;

    @include mq($xl) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include mq($l) {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    @include mq($s) {
      grid-template-columns: 1fr;
    }
  }
}