.btn {
  width: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 13px 36px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
  font-family: var(--font-primary);
  background: linear-gradient(90deg, #F59F0D, #F08518),
    linear-gradient(90deg, rgba(240, 133, 24, 0) 0%, #F08518 100%);

  border-radius: 999px;
  box-shadow: var(--sds-size-depth-0) 0px var(--sds-size-depth-400) var(--sds-size-depth-negative-200) #F59F0D33;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;

  svg {
    flex-shrink: 0;
  }

  &_l {
    padding: 19px 36px;
    font-size: 20px;
    height: 68px;
  }

  &_m {
    padding: 15px 20px;
    line-height: 1;
  }

  &_s {
    padding: 10px 24px;
    font-size: 14px;
    line-height: 1.45;
  }

  &_wide {
    width: 100%;
  }

  &_white {
    background: var(--color-white);
    color: var(--color-blck);
  }

  &_outline {
    border: 1px solid var(--color-secondary-500);
    background: transparent;
    color: var(--color-blck);

    @include mq-hover {
      background: var(--color-secondary-200);
      border-color: var(--color-secondary-200);
      color: var(--color-blck);
    }
  }

  &_gradient {
    position: relative;
    background: transparent;
    z-index: 1;

    &::after {
      position: absolute;
      inset: 0;
      content: '';
      background: linear-gradient(90deg, rgba(240, 133, 24, 0) 0%, #F08518 100%), linear-gradient(0deg, var(--colors-signalYellow-300, #F8BF5F), var(--colors-signalYellow-300, #F8BF5F));
      border-radius: inherit;
      z-index: -1;
      opacity: 0;
      transition: 0.3s ease;
    }

    &::before {
      position: absolute;
      inset: 0;
      content: '';
      background: linear-gradient(90deg, #F59F0D, #F08518),
        linear-gradient(90deg, rgba(240, 133, 24, 0) 0%, #F08518 100%);
      border-radius: inherit;
      z-index: -1;
      transition: 0.3s ease;
    }

    @include mq-hover {
      background: transparent;

      &::after {
        opacity: 1;
      }

      &::before {
        opacity: 0;
      }
    }
  }
}

.btn-play {
  width: 68px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--color-accent);
  color: var(--color-white);
  box-shadow: 0px 0px 20px 0px #FFD07999;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;

  @include mq-hover {
    background-color: var(--color-accent-300);
    color: var(--color-accent);
  }

  @include mq($m) {
    width: 56px;
    height: 56px;

    svg {
      display: block;
      width: 24px;
      height: 24px;
    }
  }
}

.btn-link {
  width: 68px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  border-radius: 50%;
  flex-shrink: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;

  svg {
    transition: 0.3s ease;
  }

  @include mq-hover {
    color: var(--color-accent);
    
    svg {
      transform: rotate(45deg);
    }
  }

  &_m {
    width: 50px;
    height: 50px;
  }
}

.btn-icon {
  position: relative;
  width: 68px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  border-radius: 50%;
  flex-shrink: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  overflow: hidden;
  z-index: 1;

  @include mq-hover {
    background-color: var(--color-blck-50);
  }

  &_m {
    width: 50px;
    height: 50px;
  }

  &_xl {
    width: 80px;
    height: 80px;
  }

  &_grey {
    background-color: var(--color-blck-25);
  }

  &_gradient {

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(90deg, #F59F0D, #F08518),
        linear-gradient(90deg, rgba(240, 133, 24, 0) 0%, #F08518 100%);
      z-index: -1;
    }
  }
}