
script(src="js/libs.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js")
script(src="https://unpkg.com/@popperjs/core@2")
script(src="https://unpkg.com/tippy.js@6")
script(src="js/main.js")