- 
  var faq = [
    {
      title: 'Какие меры безопасности предусмотрены?',
    },
    {
      title: 'Что надеть и взять с собой?',
    },
    {
      title: 'С какого возраста дети могут участвовать в активностях? С какого возраста дети могут участвовать в активностях?'
    },
    {
      title: 'Можно ли прийти без записи?'
    },
    {
      title: 'Есть ли ограничения по здоровью?'
    },
    {
      title: 'С какого возраста дети могут участвовать в активностях? С какого возраста дети могут участвовать в активностях?'
    },
    {
      title: 'Можно ли прийти без записи?'
    }
  ]

section.faq.section-top
  .container 
    .heading 
      h1.h1 Часто задаваемые вопросы
    picture.faq__decor 
      img(src="./img/decor/mountains.svg", alt="")
    .faq__list 
      for item in faq
        .faq__item
          .faq__item-question 
            .faq__item-title= item.title
            .faq__item-icon
              +svg(20,20, 'plus')
          .faq__item-body 
            p Все участники проходят обязательный инструктаж, получают страховочные системы и защитную 
              | экипировку. На трассах дежурят инструкторы. Зоны батутов оборудованы мягкими бортами 
              | и сетками. Комплекс объединяет самый масштабный в России крытый веревочный парк* и спортивный 
              | скалодром высотой 17 метров. С 2019 года Энергия Высоты предоставляет уникальные возможности 
              | для активного отдыха, предлагая каждому шанс отвлечься от рутины и провести свободное время с пользой для себя!