.faq {
  position: relative;

  &__decor {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    img {
      display: block;
      width: 100%;
    }
  }

  &__list {
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  &__item {
    width: 100%;
    padding: 24px 20px 24px 36px;
    background-color: var(--color-bg-main);
    box-shadow: 0px 8px 12px 6px #00000008;
    border-radius: var(--rounded-5xl);

    @include mq($m) {
      border-radius: 24px;
      padding: 16px 16px 16px 24px;
    }

    &-question {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      cursor: pointer;

      &.is-active {
        .faq__item-icon {
          &::after {
            opacity: 0;
          }
        }
      }
    }

    &-title {
      font-size: 20px;
      line-height: 1.5;
      font-weight: 600;

      @include mq($m) {
        font-size: 18px;
        line-height: 1.56;
      }
    }

    &-icon {
      position: relative;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-blck-25);
      border-radius: 50%;
      flex-shrink: 0;
      cursor: pointer;
      transition: background-color 0.3s ease;
      flex-shrink: 0;

      &::before,
      &::after {
        content: '';
        width: 20px;
        height: 3px;
        background-color: var(--color-blck);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &::after {
        transform: translate(-50%, -50%) rotate(90deg);
      }

      @include mq-hover {
        background-color: var(--color-blck-50);
      }
    }

    &-body {
      width: 100%;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease;
    }

    &-content {
      padding-top: 8px;
      font-size: 16px;
      line-height: 1.5;
      color: var(--color-blck-600);
    }
  }
}