.services {

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    padding-top: 40px;

    @include mq($l) {
      gap: 24px;
      padding-top: 24px;
    }
  }
}

.services-card {
  display: flex;
  align-items: stretch;
  background-color: var(--color-blck-25);
  border-radius: var(--rounded-5xl);
  overflow: hidden;

  @include mq($l) {
    flex-direction: column;
    align-items: flex-start;
  }

  @include mq($m) {
    border-radius: var(--rounded-3xl);
  }

  &:hover {
    background-color: var(--color-accent-25);
    box-shadow: 0px 4px 20px 0px #D6D5D54D;

    .services-card__link {
      transform: rotate(45deg);
      color: var(--color-accent);
    }
  }

  &__link {
    transition: 0.3s ease;
  }

  &__main {
    position: relative;
    width: 500px;
    min-height: 400px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: var(--rounded-5xl);

    @include mq($l) {
      width: 100%;
      min-height: unset;
    }

    @include mq($m) {
      border-radius: var(--rounded-3xl);
    }
  }

  &__details {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 20px;
    z-index: 1;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
    padding: 40px 36px 36px 48px;

    @include mq($l) {
      padding: 36px 24px;
    }

    @include mq($m) {
      padding: 36px 16px 24px 16px;
    }
  }

  &__title {
    font-family: var(--font-secondary);
    font-size: 30px;
    line-height: 1.3;

    @include mq($l) {
      font-size: 24px;
    }
  }

  &__desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    line-height: 1.56;
    font-weight: 200;

    @include mq($xl) {
      display: block;
    }

    @include mq($l) {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
    }
  }

  &__bottom {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 48px;
    margin-top: auto;

    @include mq($xl) {
      flex-direction: column;
      align-items: flex-start;
    }

    @include mq($l) {
      gap: 24px;
    }
  }

  &__action {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;

    @include mq($xl) {
      margin-left: auto;
    }

    @include mq($l) {
      width: 100%;
    }
  }

  &__add-ticket {
    width: 68px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:
      linear-gradient(90deg, rgba(240, 133, 24, 0) 0%, #F08518 100%),
      linear-gradient(0deg, var(--colors-signalYellow-500, #F59F0D), var(--colors-signalYellow-500, #F59F0D));
    border-radius: 50%;

    @include mq($l) {
      width: 100%;
      border-radius: 999px;
      padding: 20px 36px;
      font-size: 20px;
      line-height: 1.2;
      font-weight: 600;
      gap: 16px;
    }

    svg {
      flex-shrink: 0;
    }

    span {
      display: none;

      @include mq($l) {
        display: block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      @media(max-width: 399px) {
        max-width: 119px;
      }

      @include mq($xs) {
        font-size: 16px;
        max-width: 60px;
      }
    }
  }
}

.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}

.tag {
  padding: 8px 16px;
  background-color: var(--color-bg-main);
  font-family: var(--font-secondary);
  font-size: 16px;
  line-height: 1.5;
  border-radius: 72px;
}