include include/mixins

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Энергия высоты
    link(rel="stylesheet", href="css/main.min.css")
  body 
    
    include components/header/index
    main 
      +breadcrumbs(['Главная', 'Новости', 'Обновление локации'])
      include sections/article/index
      include sections/sertificat/index
      include sections/advantages/index
    include components/footer/index
    include include/scripts