include include/mixins

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Энергия высоты
    link(rel="stylesheet", href="css/main.min.css")
  body 
    
    include components/header/index
    main 
      +breadcrumbs(['Главная', 'О нас', 'Фотогалерея', 'Заголовок альбома в две строки сделать ограничение в две строки'])
      include sections/gallery-photos/index
      include sections/advantages/index
      include components/modal-photos/index
    include components/footer/index
    include include/scripts