include include/mixins

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Часто задаваемые вопросы
    link(rel="stylesheet", href="css/main.min.css")
  body 
    
    include components/header/index
    main 
      +breadcrumbs(['Главная', 'Карусель клипов'])
      include sections/videoclips/index
      include components/modal-shorts/index
    include components/footer/index
    include include/scripts