section.blog.section-top
  .container 
    .heading 
      h1.h1 Фотогалерея
    picture.blog__decor 
      img(src="./img/decor/mountains.svg", alt="")
    .blog__list 
        a(href="#").blog-card 
          .blog-card__main 
            picture.blog-card__img 
              img(src="./img/gallery/img-01.jpg", alt="Новость 1")
            .blog-card__date 22.03.25
            .blog-card__icon.btn-link.btn-link_m 
              +svg(20, 20, "arrow-link")
          .blog-card__info 
            .blog-card__title Заголовок фотоальбома
        a(href="#").blog-card 
          .blog-card__main 
            picture.blog-card__img 
              img(src="./img/gallery/img-02.jpg", alt="Новость 1")
            .blog-card__date 22.03.25
            .blog-card__icon.btn-link.btn-link_m 
              +svg(20, 20, "arrow-link")
          .blog-card__info 
            .blog-card__title Заголовок новости в две строки сделать ограничение в две строки
        a(href="#").blog-card 
          .blog-card__main 
            picture.blog-card__img 
              img(src="./img/gallery/img-03.jpg", alt="Новость 1")
            .blog-card__date 22.03.25
            .blog-card__icon.btn-link.btn-link_m 
              +svg(20, 20, "arrow-link")
          .blog-card__info 
            .blog-card__title Скалолазные мероприятия
        a(href="#").blog-card 
          .blog-card__main 
            picture.blog-card__img 
              img(src="./img/gallery/img-08.jpg", alt="Новость 1")
            .blog-card__date 123 фото
            .blog-card__icon.btn-link.btn-link_m 
              +svg(20, 20, "arrow-link")
          .blog-card__info 
            .blog-card__title Активити зона
        a(href="#").blog-card 
          .blog-card__main 
            picture.blog-card__img 
              img(src="./img/gallery/img-04.jpg", alt="Новость 1")
            .blog-card__date 123 фото
            .blog-card__icon.btn-link.btn-link_m 
              +svg(20, 20, "arrow-link")
          .blog-card__info 
            .blog-card__title Виктор Блуд  — Питер спортивный
        a(href="#").blog-card 
          .blog-card__main 
            picture.blog-card__img 
              img(src="./img/gallery/img-05.jpg", alt="Новость 1")
            .blog-card__date 123 фото
            .blog-card__icon.btn-link.btn-link_m 
              +svg(20, 20, "arrow-link")
          .blog-card__info 
            .blog-card__title Боулдер + разминка + детский уголок