section.not-found 
  picture.not-found__img 
    source(srcset="./img/not-found/not-found-xs.png", media="(max-width: 560px)")
    source(srcset="./img/not-found/not-found-sm.png", media="(max-width: 768px)")
    source(srcset="./img/not-found/not-found-md.png", media="(max-width: 1024px)")
    source(srcset="./img/not-found/not-found-lg.png", media="(max-width: 1280px)")
    img(src="./img/not-found/not-found.png", alt="404")
  .not-found__info
    .not-found__title Ой - ой! Что-то пошло не так...
    .not-found__desc Мы не смогли найти страницу, которую Вы ищете
    a(href="#").not-found__btn.btn.btn_l.btn_outline На главную