.not-found {
  background-color: var(--color-secondary-200);
  padding-top: 114px;
  margin-top: -114px;

  @include mq($l) {
    padding-top: 90px;
    margin-top: -90px;
  }

  &__img {
    display: flex;
    align-items: flex-end;
    height: 500px;
    width: auto;
    margin: 0 auto;

    @include mq($xl) {
      height: 490px;
    }

    @include mq($l) {
      height: 450px;
    }

    @include mq($m) {
      height: 280px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: bottom;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    text-align: center;
    background-color: var(--color-white);
    padding: 60px 24px 152px;

    @include mq($xl) {
      padding-bottom: 60px;
    }
  }

  &__title {
    font-size: 60px;
    line-height: 1;

    @include mq($xl) {
      font-size: 36px;
      line-height: 1.18;
    }

    @include mq($m) {
      font-size: 30px;
    }
  }

  &__desc {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 200;
  }
}