.shorts {

  &__slider {
    overflow: hidden;
  }

  &__bottom {
    display: none;

    @include mq($m) {
      display: block;
      margin-top: 36px;
    }
  }
}

.shorts-card {
  position: relative;
  width: 100%;
  border-radius: var(--rounded-3xl);
  overflow: hidden;
  z-index: 1;

  @include mq($m) {
    border-radius: var(--rounded-xl);
  }

  &__img {
    position: relative;
    display: block;
    width: 100%;
    z-index: 0;

    img {
      display: block;
      width: 100%;
    }

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(43, 42, 41, 0) 0%, #2B2A29 100%);
    }
  }

  &__play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  &__views {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 1.3;
    gap: 8px;
    z-index: 1;
    color: var(--color-white);

    @include mq($m) {
      font-size: 16px;
      line-height: 1.5;
      padding: 24px 8px;
    }
  }
}