.discount 
  .discount__head Скидки
  .discount__inner
    .discount__list 
      .discount__item 
        .discount__item-sticker 20%
        .discount__item-desc Многодетным
      .discount__item 
        .discount__item-sticker 50%
        .discount__item-desc Именинникам
          span *Действует в день рождения +/- 1 день. Не действует на пакетные предложения празднования дня рождения и выпускного, а также на аренду комнат для чаепития.
      .discount__item 
        .discount__item-sticker 20%
        .discount__item-desc Студентам
      .discount__item 
        .discount__item-sticker 10%
        .discount__item-desc Единая карта Петербуржца
      .discount__item 
        .discount__item-sticker 10%
        .discount__item-desc от 15 человек при единовременной оплате
      .discount__item 
        .discount__item-sticker 15%
        .discount__item-desc от 25 человек при единовременной оплате 
    .discount__desc 
      ul 
        li Скидки предоставляются только на билеты в верёвочный парк. 
        li Скидки не распространяются на покупку сертификатов, абонементов, праздничных пакетов и не суммируются с другими акциями и скидками. 
        li Скидки не распространяются на покупку билетов на сайте. 
        li Скидки действительны только для физических лиц. В случае приобретения акционного/льготного билета Посетитель обязан предъявить документ, подтверждающий право на льготу или получение скидки, в противном случае администрация СРК вправе отказать в предоставлении льготы или скидки.
