- 
  var advantages = [
    {
      img: '01',
      title: 'Безопасность — это наш приоритет!',
      desc: 'Трассы веревочного парка регулярно проходят обслуживание и необходимые инспекции. Все снаряжение сертифицировано. На маршрутах используется непрерывная система страховки!'
    },
    {
      img: '02',
      title: 'Высокий уровень комфорта',
      desc: 'Мы стремимся создать комфортную атмосферу для всех посетителей. В нашем комплексе предусмотрены современные раздевалки с душевыми, сауна, зоны отдыха, а также уютное кафе'
    },
    {
      img: '03',
      title: 'Активный отдых для всех',
      desc: 'Мы предлагаем разнообразные активности для людей всех возрастов и уровней подготовки'
    },
    {
      img: '04',
      title: 'Постоянное развитие',
      desc: 'Мы постоянно развиваем наш Комплекс, внедряя новые локации и повышая уровень удобства, чтобы наши гости наслаждались активным отдыхом!'
    },
  ]

section.advantages.section 
  .container 
    .advantages__head
      .advantages__title Энергия Высоты — место, где соединяются 
        span спортивная 
        | и 
        span развлекательная 
        | ниши
      .advantages__desc 
        | Комплекс объединяет самый масштабный в России крытый веревочный парк* и спортивный 
        | скалодром высотой 17 метров. С 2019 года Энергия Высоты предоставляет уникальные 
        | возможности для активного отдыха, предлагая каждому шанс отвлечься от рутины 
        | и провести свободное время с пользой для себя!
    .advantages__items 
      for item in advantages
        .advantages__item 
          .advantages__item-img 
            img(src=`./img/advantages/img-${item.img}.svg`, alt="")
          .advantages__item-title= item.title
          .advantages__item-desc= item.desc