.advantages {

  &__head {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    margin-bottom: 60px;

    @include mq($xxl) {
      align-items: center;
    }

    @include mq($xl) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 36px;
    }
  }

  &__title {
    max-width: 540px;
    width: 100%;
    flex-grow: 1;
    font-size: 36px;
    line-height: 1.1;

    @include mq($xl) {
      max-width: 100%;
    }

    @include mq($l) {
      font-size: 30px;
      line-height: 1.2;
    }

    span {
      color: var(--color-accent-600)
    }
  }

  &__desc {
    width: 100%;
    font-size: 18px;
    line-height: 1.56;
    font-weight: 200;
    margin-top: 4px;

    @include mq($xl) {
      margin-top: 0;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;

    @include mq($xl) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq($m) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px 24px 32px;
    background-color: var(--color-white);
    border-radius: 36px;
    box-shadow: 0px 0px 7px 4px #00000008;

    &-img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 80px;
    }


    &-title {
      font-family: var(--font-secondary);
      font-size: 18px;
      line-height: 1.56;
      text-align: center;
    }

    &-desc {
      line-height: 1.5;
      font-weight: 200;
      text-align: center;
      color: var(--color-grey-dark);
    }
  }

}