section.service.section-top 
  .service__bg  
    img(src="./img/decor/mountains.svg", alt="")
  .container 
    .service__wrapper
      .service__hero 
        picture.service__hero-img 
          img(src="./img/service/service-06.png", alt="Страница развлечения/услуги")
        .service__hero-info 
          h1.service__hero-title.h1 Праздники для детей
          .service__hero-panel 
            button.service__hero-btn.btn.btn_l.btn_gradient 
              span Купить билет
              +svg(28, 28, 'tickets')
            .service__hero-details 
              .service__hero-detail 
                .service__hero-detail-value 8+
                .service__hero-detail-label Возраст
              .service__hero-detail 
                .service__hero-detail-value от 120
                .service__hero-detail-label Рост (см)
              .service__hero-detail 
                .service__hero-detail-value от 10
                .service__hero-detail-label человек
      .service__inner
        .service__content(data-tabs)
          .sv-tabs 
            .sv-tabs__controls 
              button(type="button" data-tab="kids-event-01").sv-tabs__control.is-active На скалодроме
              button(type="button" data-tab="kids-event-02").sv-tabs__control В веревочном парке
          .sv-tabs-content
            .sv-tabs-content__block.is-active(data-tab-content="kids-event-01") 
              .sv-block 
                .sv-block__title Детский праздник на скалодроме
                .sv-block__content 
                  picture.sv-img 
                    img(src="./img/service/img-10.png", alt="Фото 1")
                  .sv-desc  
                    p 
                      b Устройте оригинальный праздник для настоящих чемпионов!
                    p Энергия Высоты предлагает программу выпускного или дня рождения в формате увлекательной тренировки на спортивном скалодроме и боулдеринге. Под присмотром опытного инструктора ваши дети смогут развить свои силы, ловкость и уверенность, находясь в атмосфере игры и веселья. 
                  .sv-advantages 
                    .sv-advantages__item.sv-advantages__item_xl 
                      picture.sv-advantages__item-img 
                        img(src="./img/service/adv-xl-01.png", alt="Яркая программа")
                      .sv-advantages__item-info 
                        .sv-advantages__item-title Яркая программа с ведущим
                        .sv-advantages__item-desc Выберете программу для себя: приключения в веревочном парке или спортивные соревнования на скалодроме
                    .sv-advantages__item.sv-advantages__item_xl 
                      picture.sv-advantages__item-img 
                        img(src="./img/service/adv-xl-02.png", alt="Яркая программа")
                      .sv-advantages__item-info 
                        .sv-advantages__item-title Праздничное меню
                        .sv-advantages__item-desc Закажите угощения в кафе комплекса или принесите с собой
                        a(href="#").sv-advantages__item-btn.btn.btn_s.btn_gradient Посмотреть меню
                    .sv-advantages__item.sv-advantages__item_xl 
                      picture.sv-advantages__item-img 
                        img(src="./img/service/adv-xl-03.png", alt="Яркая программа")
                      .sv-advantages__item-info 
                        .sv-advantages__item-title Кают-компании
                        .sv-advantages__item-desc Уютные банкетные комнаты для сбора гостей и чаепития
                    .sv-advantages__item.sv-advantages__item_xl 
                      picture.sv-advantages__item-img 
                        img(src="./img/service/adv-xl-04.png", alt="Яркая программа")
                      .sv-advantages__item-info 
                        .sv-advantages__item-title Персональный менеджер
                        .sv-advantages__item-desc Поможет подобрать подходящий пакет и организовать праздник
                    .sv-advantages__item.sv-advantages__item_xl 
                      picture.sv-advantages__item-img 
                        img(src="./img/service/adv-xl-05.png", alt="Яркая программа")
                      .sv-advantages__item-info 
                        .sv-advantages__item-title Праздничная атмосфера
                        .sv-advantages__item-desc Закажите праздничное оформление комнаты и услуги фотографа
              .sv-block 
                .sv-block__title Программа праздника
                .sv-block__content 
                  .sv-desc 
                    b 2 часа — 
                    | активная программа на скалодроме;
                    b 1 час  — 
                    | свободное время при бронировании кают-компании. Обычно в это время съедается весь праздничный торт, загадываются желания и делаются совместные фото.
              .sv-block 
                .sv-block__title Пакеты и цены
                .sv-block__content 
                  .sv-pricelist 
                    .sv-pricelist__main
                      .sv-pricelist__info 
                        .sv-pricelist__title «Все приключения»
                        .sv-pricelist__desc 
                          ul 
                            li Анимация: 
                              span 1 час
                            li Все приключения: 
                              span 2 часа
                            li Кают-компания: 
                              span 4 часа
                      .sv-pricelist__variants
                        .sv-pricelist__variant
                          .sv-pricelist__variant-title 1-5 гостей
                          .sv-pricelist__variant-list 
                            .sv-pricelist__variant-price 21 800 ₽
                              span будни
                            .sv-pricelist__variant-price 24 800 ₽
                              span выходные
                        .sv-pricelist__variant
                          .sv-pricelist__variant-title 6-10 гостей
                          .sv-pricelist__variant-list 
                            .sv-pricelist__variant-price 27 800 ₽
                              span будни
                            .sv-pricelist__variant-price 32 800 ₽
                              span выходные
                        .sv-pricelist__variant
                          .sv-pricelist__variant-title 11-15 гостей
                          .sv-pricelist__variant-list 
                            .sv-pricelist__variant-price 40 800 ₽
                              span будни
                            .sv-pricelist__variant-price 46 800 ₽
                              span выходные
                    a(href="#").sv-pricelist__btn.btn.btn_wide Выбрать пакет
                  .sv-pricelist 
                    .sv-pricelist__main
                      .sv-pricelist__info 
                        .sv-pricelist__title «Малышок»
                        .sv-pricelist__desc 
                          ul 
                            li Возраст: 
                              span до 6 лет
                            li Анимация: 
                              span 1 час
                            li 1-й уровень веревочного парка
                            li Активити зона: 
                              span 2 часа
                            li Кают-компания: 
                              span 4 часа
                      .sv-pricelist__variants
                        .sv-pricelist__variant
                          .sv-pricelist__variant-title 1-5 гостей
                          .sv-pricelist__variant-list 
                            .sv-pricelist__variant-price 18 800 ₽
                              span будни
                            .sv-pricelist__variant-price 21 800 ₽
                              span выходные
                        .sv-pricelist__variant
                          .sv-pricelist__variant-title 6-10 гостей
                          .sv-pricelist__variant-list 
                            .sv-pricelist__variant-price 21 800 ₽
                              span будни
                            .sv-pricelist__variant-price 25 800 ₽
                              span выходные
                        .sv-pricelist__variant
                          .sv-pricelist__variant-title 11-15 гостей
                          .sv-pricelist__variant-list 
                            .sv-pricelist__variant-price 27 800 ₽
                              span будни
                            .sv-pricelist__variant-price 31 800 ₽
                              span выходные
                    a(href="#").sv-pricelist__btn.btn.btn_wide Выбрать пакет
                  .sv-pricelist 
                    .sv-pricelist__main
                      .sv-pricelist__info 
                        .sv-pricelist__title «День рождения на скалодроме»
                        .sv-pricelist__desc.sv-pricelist__desc_attention 
                          ul 
                            li Возраст: 
                              span до 6 лет
                            li Анимация: 
                              span 1 час
                            li 1-й уровень веревочного парка
                            li Активити зона: 
                              span 2 часа
                            li Кают-компания: 
                              span 4 часа
                      .sv-pricelist__variants
                        .sv-pricelist__variant
                          .sv-pricelist__variant-title 1-5 гостей
                          .sv-pricelist__variant-list 
                            .sv-pricelist__variant-price 18 800 ₽
                              span будни
                            .sv-pricelist__variant-price 21 800 ₽
                              span выходные
                        .sv-pricelist__variant
                          .sv-pricelist__variant-title 6-10 гостей
                          .sv-pricelist__variant-list 
                            .sv-pricelist__variant-price 21 800 ₽
                              span будни
                            .sv-pricelist__variant-price 25 800 ₽
                              span выходные
                        .sv-pricelist__variant
                          .sv-pricelist__variant-title 11-15 гостей
                          .sv-pricelist__variant-list 
                            .sv-pricelist__variant-price 27 800 ₽
                              span будни
                            .sv-pricelist__variant-price 31 800 ₽
                              span выходные
                    a(href="#").sv-pricelist__btn.btn.btn_wide Выбрать пакет
                  .sv-pricelist 
                    .sv-pricelist__main
                      .sv-pricelist__info 
                        .sv-pricelist__title «Выпускной»
                        .sv-pricelist__desc.sv-pricelist__desc_attention 
                          ul 
                            li Возраст: 
                              span до 6 лет
                            li Анимация: 
                              span 1 час
                            li 1-й уровень веревочного парка
                            li Активити зона: 
                              span 2 часа
                            li Кают-компания: 
                              span 4 часа
                      .sv-pricelist__variants
                        .sv-pricelist__variant
                          .sv-pricelist__variant-title 1-5 гостей
                          .sv-pricelist__variant-list 
                            .sv-pricelist__variant-price 18 800 ₽
                              span будни
                            .sv-pricelist__variant-price 21 800 ₽
                              span выходные
                        .sv-pricelist__variant
                          .sv-pricelist__variant-title 6-10 гостей
                          .sv-pricelist__variant-list 
                            .sv-pricelist__variant-price 21 800 ₽
                              span будни
                            .sv-pricelist__variant-price 25 800 ₽
                              span выходные
                        .sv-pricelist__variant
                          .sv-pricelist__variant-title 11-15 гостей
                          .sv-pricelist__variant-list 
                            .sv-pricelist__variant-price 27 800 ₽
                              span будни
                            .sv-pricelist__variant-price 31 800 ₽
                              span выходные
                    a(href="#").sv-pricelist__btn.btn.btn_wide Выбрать пакет
              .sv-block 
                .sv-block__title Возрастные ограничения 
                  span 6+
                .sv-block__content 
              .sv-block 
                .sv-block__title Анимационные программы
                .sv-anim-programs 
                  .sv-anim-programs__title Программа праздника — тематический сценарий, по которому пройдет торжество:
                  .sv-anim-programs__list 
                    .sv-anim-programs__item
                      picture.sv-anim-programs__item-img 
                        img(src="./img/services/img-01.png", alt="")
                      .sv-anim-programs__item-info 
                        .sv-anim-programs__item-title Заветный ключик 
                          span 0+
                        .sv-anim-programs__item-desc Какие сокровища спрятаны в сундуке за пятью замками? 
                          | Узнать получится, лишь раздобыв все ключи. Это совсем непросто! Только дружной 
                          | команде под силу справиться со всеми испытаниями и открыть заветный сундук
                        button(type="button").sv-anim-programs__item-btn.btn.btn_gradient.btn_wide  Заказать праздник
                    .sv-anim-programs__item
                      picture.sv-anim-programs__item-img 
                        img(src="./img/services/img-02.png", alt="")
                      .sv-anim-programs__item-info 
                        .sv-anim-programs__item-title Заветный ключик 
                          span 3-6 лет
                        .sv-anim-programs__item-desc Какие сокровища спрятаны в сундуке за пятью замками? 
                          | Узнать получится, лишь раздобыв все ключи. Это совсем непросто! Только дружной 
                          | команде под силу справиться со всеми испытаниями и открыть заветный сундук
                        button(type="button").sv-anim-programs__item-btn.btn.btn_gradient.btn_wide  Заказать праздник
                    .sv-anim-programs__item
                      picture.sv-anim-programs__item-img 
                        img(src="./img/services/img-03.png", alt="")
                      .sv-anim-programs__item-info 
                        .sv-anim-programs__item-title Заветный ключик 
                          span 3-6 лет
                        .sv-anim-programs__item-desc Какие сокровища спрятаны в сундуке за пятью замками? 
                          | Узнать получится, лишь раздобыв все ключи. Это совсем непросто! Только дружной 
                          | команде под силу справиться со всеми испытаниями и открыть заветный сундук
                        button(type="button").sv-anim-programs__item-btn.btn.btn_gradient.btn_wide  Заказать праздник
              .sv-block
                .sv-block__title Возрастные ограничения
                  span 6+
                .sv-block__content 
                  .sv-desc 
                    p Рекомендуемый возраст Посетителя — 
                      b от 8 лет.
                    p Посетители 
                      b до 14 лет 
                      | допускаются к прохождению трасс только в присутствии сопровождающего лица (сопровождение не требует доплаты).
                    p Посетители 
                      b с 14 до 18 
                      | лет допускаются к посещению парка при предоставлении заполненной расписки от законного представителя.
              .sv-block 
                .sv-block__title Ограничения по росту
                .sv-block__content 
                  .sv-text
                    | 1-й уровнь — до 140 см (рекомендуемый возраст — от 4-х лет)
                    br
                    | 2-3 уровни — от 120 см (рекомендуемый возраст — от 7 лет)
                    br
                    | 4-й уровень — от 140 см (рекомендуемый возраст — от 10 лет)
                    br 
                    | 5-й уровень — от 150 см (рекомендуемый возраст — от 10 лет)
              .sv-block 
                .sv-block__title Ограничения по весу
                .sv-block__content 
                  .sv-text Максимально допустимый вес для посещения парка — 
                    b 100 кг
              .sv-block 
                .sv-block__title Правила посещения
                .sv-block__content 
                  .sv-documents 
                    a(href="#").sv-documents__item 
                      +svg(20, 20, 'document')
                      span Правила посещения комплекса
                    a(href="#").sv-documents__item 
                      +svg(20, 20, 'document')
                      span Техника безопасности QuickJump
                    a(href="#").sv-documents__item 
                      +svg(20, 20, 'document')
                      span Техника безопасности Троллей
                    a(href="#").sv-documents__item 
                      +svg(20, 20, 'document')
                      span Техника безопасности в веревочном парке
              .sv-block 
                .sv-block__title Скидки
                .sv-block__content 
                  .sv-discount 
                    .sv-discount__list 
                      .sv-discount__item 
                        .sv-discount__item-sticker 20%
                        .sv-discount__item-desc Многодетным
                      .sv-discount__item 
                        .sv-discount__item-sticker 50%
                        .sv-discount__item-desc Именинникам
                          span *Действует в день рождения +/- 1 день. Не действует на пакетные предложения празднования дня рождения и выпускного, а также на аренду комнат для чаепития.
                      .sv-discount__item 
                        .sv-discount__item-sticker 20%
                        .sv-discount__item-desc Студентам
                      .sv-discount__item 
                        .sv-discount__item-sticker 10%
                        .sv-discount__item-desc Единая карта Петербуржца
                      .sv-discount__item 
                        .sv-discount__item-sticker 10%
                        .sv-discount__item-desc от 15 человек при единовременной оплате
                      .sv-discount__item 
                        .sv-discount__item-sticker 15%
                        .sv-discount__item-desc от 25 человек при единовременной оплате 
                  .sv-desc 
                    ul 
                      li Скидки предоставляются только на билеты в верёвочный парк. 
                      li Скидки не распространяются на покупку сертификатов, абонементов, праздничных пакетов и не суммируются с другими акциями и скидками. 
                      li Скидки не распространяются на покупку билетов на сайте. 
                      li Скидки действительны только для физических лиц. В случае приобретения акционного/льготного билета Посетитель обязан предъявить документ, подтверждающий право на льготу или получение скидки, в противном случае администрация СРК вправе отказать в предоставлении льготы или скидки.
              .sv-block 
                .sv-block__content 
                  .sv-attention 
                    h2 Обратите внимание!
                    ul 
                      li Для активного отдыха в верёвочном парке рекомендуем взять с собой 
                        span удобную спортивную одежду 
                        | и 
                        span обувь. 
                        | Также вы можете взять в аренду кеды, обратившись на стойку ресепшен
                      li 
                        span Сопровождающим 
                        | тоже необходимо иметь сменную обувь, в случае ее отсутствия можно воспользоваться бахилами
            .sv-tabs-content__block(data-tab-content="kids-event-02")
              .sv-block 
                .sv-block__title Детский праздник в верёвочном парке
                .sv-block__content 
                  picture.sv-img 
                    img(src="./img/service/img-11.png", alt="Фото 1")
                  .sv-desc  
                    p 
                      b Устройте оригинальный праздник для настоящих чемпионов!
                    p Энергия Высоты предлагает программу выпускного или дня рождения в формате увлекательной тренировки на спортивном скалодроме и боулдеринге. Под присмотром опытного инструктора ваши дети смогут развить свои силы, ловкость и уверенность, находясь в атмосфере игры и веселья. 
                  .sv-advantages 
                    .sv-advantages__item.sv-advantages__item_xl 
                      picture.sv-advantages__item-img 
                        img(src="./img/service/adv-xl-01.png", alt="Яркая программа")
                      .sv-advantages__item-info 
                        .sv-advantages__item-title Яркая программа с ведущим
                        .sv-advantages__item-desc Выберете программу для себя: приключения в веревочном парке или спортивные соревнования на скалодроме
                    .sv-advantages__item.sv-advantages__item_xl 
                      picture.sv-advantages__item-img 
                        img(src="./img/service/adv-xl-02.png", alt="Яркая программа")
                      .sv-advantages__item-info 
                        .sv-advantages__item-title Праздничное меню
                        .sv-advantages__item-desc Закажите угощения в кафе комплекса или принесите с собой
                        a(href="#").sv-advantages__item-btn.btn.btn_s.btn_gradient Посмотреть меню
                    .sv-advantages__item.sv-advantages__item_xl 
                      picture.sv-advantages__item-img 
                        img(src="./img/service/adv-xl-03.png", alt="Яркая программа")
                      .sv-advantages__item-info 
                        .sv-advantages__item-title Кают-компании
                        .sv-advantages__item-desc Уютные банкетные комнаты для сбора гостей и чаепития
                    .sv-advantages__item.sv-advantages__item_xl 
                      picture.sv-advantages__item-img 
                        img(src="./img/service/adv-xl-04.png", alt="Яркая программа")
                      .sv-advantages__item-info 
                        .sv-advantages__item-title Персональный менеджер
                        .sv-advantages__item-desc Поможет подобрать подходящий пакет и организовать праздник
                    .sv-advantages__item.sv-advantages__item_xl 
                      picture.sv-advantages__item-img 
                        img(src="./img/service/adv-xl-05.png", alt="Яркая программа")
                      .sv-advantages__item-info 
                        .sv-advantages__item-title Праздничная атмосфера
                        .sv-advantages__item-desc Закажите праздничное оформление комнаты и услуги фотографа
              .sv-block 
                .sv-block__title Программа праздника
                .sv-block__content 
                  .sv-desc 
                    b 2 часа — 
                    | активная программа на скалодроме;
                    b 1 час  — 
                    | свободное время при бронировании кают-компании. Обычно в это время съедается весь праздничный торт, загадываются желания и делаются совместные фото.
              .sv-block 
                .sv-block__title Пакеты и цены
                .sv-block__content 
                  .sv-pricelist 
                    .sv-pricelist__main
                      .sv-pricelist__info 
                        .sv-pricelist__title «Все приключения»
                        .sv-pricelist__desc 
                          ul 
                            li Анимация: 
                              span 1 час
                            li Все приключения: 
                              span 2 часа
                            li Кают-компания: 
                              span 4 часа
                      .sv-pricelist__variants
                        .sv-pricelist__variant
                          .sv-pricelist__variant-title 1-5 гостей
                          .sv-pricelist__variant-list 
                            .sv-pricelist__variant-price 21 800 ₽
                              span будни
                            .sv-pricelist__variant-price 24 800 ₽
                              span выходные
                        .sv-pricelist__variant
                          .sv-pricelist__variant-title 6-10 гостей
                          .sv-pricelist__variant-list 
                            .sv-pricelist__variant-price 27 800 ₽
                              span будни
                            .sv-pricelist__variant-price 32 800 ₽
                              span выходные
                        .sv-pricelist__variant
                          .sv-pricelist__variant-title 11-15 гостей
                          .sv-pricelist__variant-list 
                            .sv-pricelist__variant-price 40 800 ₽
                              span будни
                            .sv-pricelist__variant-price 46 800 ₽
                              span выходные
                    a(href="#").sv-pricelist__btn.btn.btn_wide Выбрать пакет
                  .sv-pricelist 
                    .sv-pricelist__main
                      .sv-pricelist__info 
                        .sv-pricelist__title «Малышок»
                        .sv-pricelist__desc 
                          ul 
                            li Возраст: 
                              span до 6 лет
                            li Анимация: 
                              span 1 час
                            li 1-й уровень веревочного парка
                            li Активити зона: 
                              span 2 часа
                            li Кают-компания: 
                              span 4 часа
                      .sv-pricelist__variants
                        .sv-pricelist__variant
                          .sv-pricelist__variant-title 1-5 гостей
                          .sv-pricelist__variant-list 
                            .sv-pricelist__variant-price 18 800 ₽
                              span будни
                            .sv-pricelist__variant-price 21 800 ₽
                              span выходные
                        .sv-pricelist__variant
                          .sv-pricelist__variant-title 6-10 гостей
                          .sv-pricelist__variant-list 
                            .sv-pricelist__variant-price 21 800 ₽
                              span будни
                            .sv-pricelist__variant-price 25 800 ₽
                              span выходные
                        .sv-pricelist__variant
                          .sv-pricelist__variant-title 11-15 гостей
                          .sv-pricelist__variant-list 
                            .sv-pricelist__variant-price 27 800 ₽
                              span будни
                            .sv-pricelist__variant-price 31 800 ₽
                              span выходные
                    a(href="#").sv-pricelist__btn.btn.btn_wide Выбрать пакет
                  .sv-pricelist 
                    .sv-pricelist__main
                      .sv-pricelist__info 
                        .sv-pricelist__title «День рождения на скалодроме»
                        .sv-pricelist__desc.sv-pricelist__desc_attention 
                          ul 
                            li Возраст: 
                              span до 6 лет
                            li Анимация: 
                              span 1 час
                            li 1-й уровень веревочного парка
                            li Активити зона: 
                              span 2 часа
                            li Кают-компания: 
                              span 4 часа
                      .sv-pricelist__variants
                        .sv-pricelist__variant
                          .sv-pricelist__variant-title 1-5 гостей
                          .sv-pricelist__variant-list 
                            .sv-pricelist__variant-price 18 800 ₽
                              span будни
                            .sv-pricelist__variant-price 21 800 ₽
                              span выходные
                        .sv-pricelist__variant
                          .sv-pricelist__variant-title 6-10 гостей
                          .sv-pricelist__variant-list 
                            .sv-pricelist__variant-price 21 800 ₽
                              span будни
                            .sv-pricelist__variant-price 25 800 ₽
                              span выходные
                        .sv-pricelist__variant
                          .sv-pricelist__variant-title 11-15 гостей
                          .sv-pricelist__variant-list 
                            .sv-pricelist__variant-price 27 800 ₽
                              span будни
                            .sv-pricelist__variant-price 31 800 ₽
                              span выходные
                    a(href="#").sv-pricelist__btn.btn.btn_wide Выбрать пакет
                  .sv-pricelist 
                    .sv-pricelist__main
                      .sv-pricelist__info 
                        .sv-pricelist__title «Выпускной»
                        .sv-pricelist__desc.sv-pricelist__desc_attention 
                          ul 
                            li Возраст: 
                              span до 6 лет
                            li Анимация: 
                              span 1 час
                            li 1-й уровень веревочного парка
                            li Активити зона: 
                              span 2 часа
                            li Кают-компания: 
                              span 4 часа
                      .sv-pricelist__variants
                        .sv-pricelist__variant
                          .sv-pricelist__variant-title 1-5 гостей
                          .sv-pricelist__variant-list 
                            .sv-pricelist__variant-price 18 800 ₽
                              span будни
                            .sv-pricelist__variant-price 21 800 ₽
                              span выходные
                        .sv-pricelist__variant
                          .sv-pricelist__variant-title 6-10 гостей
                          .sv-pricelist__variant-list 
                            .sv-pricelist__variant-price 21 800 ₽
                              span будни
                            .sv-pricelist__variant-price 25 800 ₽
                              span выходные
                        .sv-pricelist__variant
                          .sv-pricelist__variant-title 11-15 гостей
                          .sv-pricelist__variant-list 
                            .sv-pricelist__variant-price 27 800 ₽
                              span будни
                            .sv-pricelist__variant-price 31 800 ₽
                              span выходные
                    a(href="#").sv-pricelist__btn.btn.btn_wide Выбрать пакет
              .sv-block 
                .sv-block__title Возрастные ограничения 
                  span 6+
                .sv-block__content 
              .sv-block
                .sv-block__title Возрастные ограничения
                  span 6+
                .sv-block__content 
                  .sv-desc 
                    p Рекомендуемый возраст Посетителя — 
                      b от 8 лет.
                    p Посетители 
                      b до 14 лет 
                      | допускаются к прохождению трасс только в присутствии сопровождающего лица (сопровождение не требует доплаты).
                    p Посетители 
                      b с 14 до 18 
                      | лет допускаются к посещению парка при предоставлении заполненной расписки от законного представителя.
              .sv-block 
                .sv-block__title Ограничения по росту
                .sv-block__content 
                  .sv-text
                    | 1-й уровнь — до 140 см (рекомендуемый возраст — от 4-х лет)
                    br
                    | 2-3 уровни — от 120 см (рекомендуемый возраст — от 7 лет)
                    br
                    | 4-й уровень — от 140 см (рекомендуемый возраст — от 10 лет)
                    br 
                    | 5-й уровень — от 150 см (рекомендуемый возраст — от 10 лет)
              .sv-block 
                .sv-block__title Ограничения по весу
                .sv-block__content 
                  .sv-text Максимально допустимый вес для посещения парка — 
                    b 100 кг
              .sv-block 
                .sv-block__title Правила посещения
                .sv-block__content 
                  .sv-documents 
                    a(href="#").sv-documents__item 
                      +svg(20, 20, 'document')
                      span Правила посещения комплекса
                    a(href="#").sv-documents__item 
                      +svg(20, 20, 'document')
                      span Техника безопасности QuickJump
                    a(href="#").sv-documents__item 
                      +svg(20, 20, 'document')
                      span Техника безопасности Троллей
                    a(href="#").sv-documents__item 
                      +svg(20, 20, 'document')
                      span Техника безопасности в веревочном парке
              .sv-block 
                .sv-block__title Скидки
                .sv-block__content 
                  .sv-discount 
                    .sv-discount__list 
                      .sv-discount__item 
                        .sv-discount__item-sticker 20%
                        .sv-discount__item-desc Многодетным
                      .sv-discount__item 
                        .sv-discount__item-sticker 50%
                        .sv-discount__item-desc Именинникам
                          span *Действует в день рождения +/- 1 день. Не действует на пакетные предложения празднования дня рождения и выпускного, а также на аренду комнат для чаепития.
                      .sv-discount__item 
                        .sv-discount__item-sticker 20%
                        .sv-discount__item-desc Студентам
                      .sv-discount__item 
                        .sv-discount__item-sticker 10%
                        .sv-discount__item-desc Единая карта Петербуржца
                      .sv-discount__item 
                        .sv-discount__item-sticker 10%
                        .sv-discount__item-desc от 15 человек при единовременной оплате
                      .sv-discount__item 
                        .sv-discount__item-sticker 15%
                        .sv-discount__item-desc от 25 человек при единовременной оплате 
                  .sv-desc 
                    ul 
                      li Скидки предоставляются только на билеты в верёвочный парк. 
                      li Скидки не распространяются на покупку сертификатов, абонементов, праздничных пакетов и не суммируются с другими акциями и скидками. 
                      li Скидки не распространяются на покупку билетов на сайте. 
                      li Скидки действительны только для физических лиц. В случае приобретения акционного/льготного билета Посетитель обязан предъявить документ, подтверждающий право на льготу или получение скидки, в противном случае администрация СРК вправе отказать в предоставлении льготы или скидки.
              .sv-block 
                .sv-block__content 
                  .sv-attention 
                    h2 Обратите внимание!
                    ul 
                      li Для активного отдыха в верёвочном парке рекомендуем взять с собой 
                        span удобную спортивную одежду 
                        | и 
                        span обувь. 
                        | Также вы можете взять в аренду кеды, обратившись на стойку ресепшен
                      li 
                        span Сопровождающим 
                        | тоже необходимо иметь сменную обувь, в случае ее отсутствия можно воспользоваться бахилами

        .service__sidebar
          .service__gallery
            .service__gallery-title.h3 Фотогалерея
            .service__gallery-photos 
              .service__gallery-stack
                picture.service__gallery-photo 
                  img(src="./img/service/side-01.png", alt="Фото 1")
                picture.service__gallery-photo 
                  img(src="./img/service/side-02.png", alt="Фото 2")
                picture.service__gallery-photo 
                  img(src="./img/service/side-03.png", alt="Фото 3")
                picture.service__gallery-photo 
                  img(src="./img/service/side-04.png", alt="Фото 4")
                picture.service__gallery-photo 
                  img(src="./img/service/side-05.png", alt="Фото 5")
          .service__banner 
            .service__banner-mascot 
              img(src="./img/decor/rokki.svg", alt="")
            .service__banner-title.h3 Вы готовы к приключениям?
            .service__banner-desc Приобретайте билеты для взрослых и детей или сделайте классный подарок в виде сертификата на посещение
            .service__banner-price 
              .service__banner-price-title Стоимость посещения:
              .service__banner-price-summ от 99 999 руб.
            .service__banner-actions 
              button(type="button").btn.btn_l.btn_wide
                span Купить билет
                +svg(28, 28, 'tickets')
              a(href="#").btn.btn_l.btn_wide.btn_outline Подарочный сертификат

          