section.videoclips.section-top
  .container 
    .heading 
      h1.h1 Карусель клипов
    .videoclips__list
      a(href="#" data-fancybox data-src="#modal-shorts" data-video-id="0").shorts-card
        picture.shorts-card__img 
          img(src=`./img/shorts/img-01.jpg`, alt="Клип")
        .shorts-card__play-btn.btn-play 
          +svg(36, 36, 'play-arrow')
        .shorts-card__views 
          +svg(16, 16, 'eye')
          span 1 000 000 086
      a(href="#" data-fancybox data-src="#modal-shorts" data-video-id="1").shorts-card
        picture.shorts-card__img 
          img(src=`./img/shorts/img-01.jpg`, alt="Клип")
        .shorts-card__play-btn.btn-play 
          +svg(36, 36, 'play-arrow')
        .shorts-card__views 
          +svg(16, 16, 'eye')
          span 1 000 000 086
      a(href="#" data-fancybox data-src="#modal-shorts" data-video-id="2").shorts-card
        picture.shorts-card__img 
          img(src=`./img/shorts/img-02.jpg`, alt="Клип")
        .shorts-card__play-btn.btn-play 
          +svg(36, 36, 'play-arrow')
        .shorts-card__views 
          +svg(16, 16, 'eye')
          span 1 000 000 086
      a(href="#" data-fancybox data-src="#modal-shorts" data-video-id="3").shorts-card
        picture.shorts-card__img 
          img(src=`./img/shorts/img-03.jpg`, alt="Клип")
        .shorts-card__play-btn.btn-play 
          +svg(36, 36, 'play-arrow')
        .shorts-card__views 
          +svg(16, 16, 'eye')
          span 1 000 000 086
      a(href="#" data-fancybox data-src="#modal-shorts" data-video-id="4").shorts-card
        picture.shorts-card__img 
          img(src=`./img/shorts/img-04.jpg`, alt="Клип")
        .shorts-card__play-btn.btn-play 
          +svg(36, 36, 'play-arrow')
        .shorts-card__views 
          +svg(16, 16, 'eye')
          span 1 000 000 086
      a(href="#" data-fancybox data-src="#modal-shorts" data-video-id="5").shorts-card
        picture.shorts-card__img 
          img(src=`./img/shorts/img-01.jpg`, alt="Клип")
        .shorts-card__play-btn.btn-play 
          +svg(36, 36, 'play-arrow')
        .shorts-card__views 
          +svg(16, 16, 'eye')
          span 1 000 000 086
      a(href="#" data-fancybox data-src="#modal-shorts" data-video-id="6").shorts-card
        picture.shorts-card__img 
          img(src=`./img/shorts/img-02.jpg`, alt="Клип")
        .shorts-card__play-btn.btn-play 
          +svg(36, 36, 'play-arrow')
        .shorts-card__views 
          +svg(16, 16, 'eye')
          span 1 000 000 086
      a(href="#" data-fancybox data-src="#modal-shorts" data-video-id="7").shorts-card
        picture.shorts-card__img 
          img(src=`./img/shorts/img-03.jpg`, alt="Клип")
        .shorts-card__play-btn.btn-play 
          +svg(36, 36, 'play-arrow')
        .shorts-card__views 
          +svg(16, 16, 'eye')
          span 1 000 000 086
    .videoclips__loader 
      .loader 
        .loader__icon
          +svg(48, 48, 'loader')