.videoclips {

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px 20px;

    @include mq($xl) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include mq($l) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}