section.reviews.section-top.section-w-decor
  picture.section-decor-img 
    img(src="./img/decor/mountains.svg", alt="")
  .container 
    .heading 
      h1.h1 Отзывы
    .reviews__list 
      .reviews-item
        .reviews-item__top 
          .reviews-item__name Михаил К.
          .reviews-item__stars 
            .rating-stars 
              .rating-star.is-highlighted
                +svg(20, 20, 'star')
              .rating-star.is-highlighted
                +svg(20, 20, 'star')
              .rating-star.is-highlighted
                +svg(20, 20, 'star')
              .rating-star.is-highlighted
                +svg(20, 20, 'star')
              .rating-star.is-highlighted
                +svg(20, 20, 'star')
          .reviews-item__date 27.02.2025
        .reviews-item__desc 
          | Отличное место для выходного дня. Рекомендую семьям с детьми от 5 лет, компаниям друзей 
          | и всем, кто любит активный вид отдыха. Уехали уставшие, но c от... Отличное место 
          | для выходного дня. Рекомендую семьям с детьми от 5 лет, компаниям друзей и всем, 
          | кто любит активный вид отдыха. Уехали уставшие, но c отличным настроением!
          | Отличное место для выходного дня. Рекомендую семьям с детьми от 5 лет, компаниям друзей 
          | и всем, кто любит активный вид отдыха. Уехали уставшие, но c от... Отличное место для 
          | выходного дня. Рекомендую семьям с детьми от 5 лет, компаниям друзей и всем, 
          | кто любит активный вид отдыха. Уехали уставшие, но c от... 
          | Уехали уставшие, но c от... Отличное место для выходного дня. Рекомендую семьям 
          | с детьми от 5 лет, компаниям друзей и всем, кто любит активный вид отдыха. 
          | Уехали уставшие, но c отличным настроением!
        .reviews-item__media 
          a(href="#").reviews-item__media-item
            picture.reviews-item__media-preview 
              img(src="./img/reviews/preview.jpg", alt="") 
          a(href="#").reviews-item__media-item.reviews-item__media-item--video
            picture.reviews-item__media-preview 
              img(src="./img/reviews/preview.jpg", alt="") 
          a(href="#").reviews-item__media-item
            picture.reviews-item__media-preview 
              img(src="./img/reviews/preview.jpg", alt="") 
          a(href="#").reviews-item__media-item
            picture.reviews-item__media-preview 
              img(src="./img/reviews/preview.jpg", alt="") 
          a(href="#").reviews-item__media-item.reviews-item__media-item--video
            picture.reviews-item__media-preview 
              img(src="./img/reviews/preview.jpg", alt="") 
          a(href="#").reviews-item__media-item
            picture.reviews-item__media-preview 
              img(src="./img/reviews/preview.jpg", alt="") 
          a(href="#").reviews-item__media-item.reviews-item__media-item--video
            picture.reviews-item__media-preview 
              img(src="./img/reviews/preview.jpg", alt="") 
          a(href="#").reviews-item__media-item.reviews-item__media-item--video
            picture.reviews-item__media-preview 
              img(src="./img/reviews/preview.jpg", alt="") 
      .reviews-item
        .reviews-item__top 
          .reviews-item__name Михаил К.
          .reviews-item__stars 
            .rating-stars 
              .rating-star
                +svg(20, 20, 'star')
              .rating-star
                +svg(20, 20, 'star')
              .rating-star
                +svg(20, 20, 'star')
              .rating-star
                +svg(20, 20, 'star')
              .rating-star
                +svg(20, 20, 'star')
          .reviews-item__date 27.02.2025
        .reviews-item__desc 
          | Отличное место для выходного дня. Рекомендую семьям с детьми от 5 лет, 
          | компаниям друзей и всем, кто любит активный вид отдыха. Уехали уставшие, но счастливые
      .reviews-item
        .reviews-item__top 
          .reviews-item__name Михаил К.
          .reviews-item__stars 
            .rating-stars 
              .rating-star
                +svg(20, 20, 'star')
              .rating-star
                +svg(20, 20, 'star')
              .rating-star
                +svg(20, 20, 'star')
              .rating-star
                +svg(20, 20, 'star')
              .rating-star
                +svg(20, 20, 'star')
          .reviews-item__date 27.02.2025
        .reviews-item__desc 
          | Отличное место для выходного дня. Рекомендую семьям с детьми от 5 лет, 
          | компаниям друзей и всем, кто любит активный вид отдыха. Уехали уставшие, 
          | но c от... Отличное место для выходного дня. Рекомендую семьям с детьми 
          | от 5 лет, компаниям друзей и всем, кто любит активный вид отдыха. Уехали уставшие, но c отличным настроением!
        .reviews-item__media 
          a(href="#").reviews-item__media-item
            picture.reviews-item__media-preview 
              img(src="./img/reviews/preview.jpg", alt="") 
          a(href="#").reviews-item__media-item.reviews-item__media-item--video
            picture.reviews-item__media-preview 
              img(src="./img/reviews/preview.jpg", alt="") 
          a(href="#").reviews-item__media-item
            picture.reviews-item__media-preview 
              img(src="./img/reviews/preview.jpg", alt="") 
          a(href="#").reviews-item__media-item
            picture.reviews-item__media-preview 
              img(src="./img/reviews/preview.jpg", alt="") 
          a(href="#").reviews-item__media-item.reviews-item__media-item--video
            picture.reviews-item__media-preview 
              img(src="./img/reviews/preview.jpg", alt="") 
          a(href="#").reviews-item__media-item
            picture.reviews-item__media-preview 
              img(src="./img/reviews/preview.jpg", alt="") 
          a(href="#").reviews-item__media-item.reviews-item__media-item--video
            picture.reviews-item__media-preview 
              img(src="./img/reviews/preview.jpg", alt="") 
          a(href="#").reviews-item__media-item.reviews-item__media-item--video
            picture.reviews-item__media-preview 
              img(src="./img/reviews/preview.jpg", alt="") 
      .reviews-item
        .reviews-item__top 
          .reviews-item__name Оченьдлинное Имяюзерануоченьдлинное
          .reviews-item__stars 
            .rating-stars 
              .rating-star
                +svg(20, 20, 'star')
              .rating-star
                +svg(20, 20, 'star')
              .rating-star
                +svg(20, 20, 'star')
              .rating-star
                +svg(20, 20, 'star')
              .rating-star
                +svg(20, 20, 'star')
          .reviews-item__date 27.02.2025
        .reviews-item__desc 
          | Отличное место для выходного дня. Рекомендую семьям с детьми от 5 лет, 
          | компаниям друзей и всем, кто любит активный вид отдыха. Уехали уставшие, 
          | но c от... Отличное место для выходного дня. Рекомендую семьям с детьми 
          | от 5 лет, компаниям друзей и всем, кто любит активный вид отдыха. Уехали уставшие, но c отличным настроением!
        .reviews-item__media 
          a(href="#").reviews-item__media-item
            picture.reviews-item__media-preview 
              img(src="./img/reviews/preview.jpg", alt="") 
          a(href="#").reviews-item__media-item.reviews-item__media-item--video
            picture.reviews-item__media-preview 
              img(src="./img/reviews/preview.jpg", alt="") 
          a(href="#").reviews-item__media-item
            picture.reviews-item__media-preview 
              img(src="./img/reviews/preview.jpg", alt="") 
          a(href="#").reviews-item__media-item
            picture.reviews-item__media-preview 
              img(src="./img/reviews/preview.jpg", alt="") 
          a(href="#").reviews-item__media-item.reviews-item__media-item--video
            picture.reviews-item__media-preview 
              img(src="./img/reviews/preview.jpg", alt="") 
          a(href="#").reviews-item__media-item
            picture.reviews-item__media-preview 
              img(src="./img/reviews/preview.jpg", alt="") 
          a(href="#").reviews-item__media-item.reviews-item__media-item--video
            picture.reviews-item__media-preview 
              img(src="./img/reviews/preview.jpg", alt="") 
          a(href="#").reviews-item__media-item.reviews-item__media-item--video
            picture.reviews-item__media-preview 
              img(src="./img/reviews/preview.jpg", alt="") 