.reviews {


  &__list {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
}

.reviews-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px;
  background-color: var(--color-white);
  border-radius: var(--rounded-3xl);
  box-shadow: 0px 4px 20px 0px #D6D5D54D;

  @include mq($l)  {
    gap: 16px;
    padding: 24px;
    border-radius: var(--rounded-xl);
  }

  &__top {
    display: flex;
    align-items: center;
    gap: 8px 24px;

    @include mq($l) {
      display: grid;
      align-items: flex-start;
      grid-template-columns: auto auto;
    }
  }

  &__stars {
    @include mq($l) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
  }

  &__date {
    line-height: 1.5;
    margin-left: auto;
    color: var(--color-blck-400);
  }

  &__name {
    font-family: var(--font-secondary);
    font-size: 18px;
    line-height: 1.56;
    word-break: break-all;
  }

  &__desc {
    font-size: 16px;
    line-height: 1.5;
  }

  &__media {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;

    @include mq($l) {
      gap: 12px;
    }

    &-item {
      position: relative;
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      aspect-ratio: 1/1;
      border-radius: var(--rounded-md);
      overflow: hidden;
      cursor: pointer;

      @include mq($l) {
        width: 60px;
        border-radius: var(--rounded-sm);
      }

      @include mq-hover {

        img {
          transform: scale(1);
        }

        &::after {
          opacity: 0;
        }
      }

      &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
        transition: 0.3s ease;
        z-index: 1;
      }

      &--video {

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 32px;
          height: 32px;
          mask: url('../img/icons/play.svg') center center/100% 100% no-repeat;
          -webkit-mask: url('../img/icons/play.svg') center center/100% 100% no-repeat;
          background-color: var(--color-white);
          z-index: 2;
          transition: 0.3s ease;

          @include mq($l) {
            width: 20px;
            height: 20px;
          }
        }
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.1);
        transition: transform 0.3s ease;
      }
    }
  }
}

.rating-stars {
  display: flex;
  align-items: center;
  gap: 5px;
}

.rating-star {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  color: var(--color-blck-50);

  &.is-highlighted {
    color: var(--color-secondary-300);
  }
}