.reviews {
  overflow: hidden;
  position: relative;
  z-index: 1;

  &__bg {
    position: absolute;
    top: 40px;
    left: 0;
    display: block;
    width: 100%;
    z-index: -1;

    @include mq($xxl) {
      top: 215px;
    }

    @include mq($xl) {
      top: 50%;
      transform: translateY(-50%);
    }

    img {
      display: block;
      width: 100%;
    }
  }

  &__slider {
    padding-top: 48px;

    @include mq($l) {
      padding-top: 32px;
    }

    @include mq($m) {
      padding-top: 0;
    }

    .common-slider-buttons {
      display: none;

      @include mq($xxl) {
        display: flex;
        padding-top: 24px;
      }

      @include mq($m) {
        padding-top: 32px;
      }
    }

    .common-slider-scrollbar {
      @include mq($xxl) {
        display: none;
      }
    }

    .swiper-slide {
      width: 460px;
      height: 460px;

      @include mq($l) {
        width: 320px;
        height: 378px;
      }

      &:nth-of-type(even) {
        transform: translateY(-48px);

        @include mq($l) {
          transform: translateY(-32px);
        }

        @include mq($m) {
          transform: translate(0px);
        }
      }
    }
  }

  &__bottom {
    display: none;

    @include mq($m) {
      display: block;
      margin-top: 36px;
    }
  }
}

.reviews-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 40px;
  background-color: var(--color-bg-main);
  box-shadow: 0px 0px 7px 4px #00000008;
  border-radius: 36px;

  @include mq($l) {
    padding: 40px 24px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 24px;

    @include mq($l) {
      align-items: flex-start;
    }
  }

  &__main {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;

    @include mq($l) {
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }
  }

  &__date {
    line-height: 1.5;
    color: var(--color-blck-300);

    @include mq($l) {
      font-size: 14px;
      line-height: 1.4;
    }
  }

  &__author {
    margin-top: auto;
    font-size: 18px;
    line-height: 1.4;
    font-family: var(--font-secondary);
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__stars {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__star {
    color: var(--color-grey-light);

    &.is-highlighted {
      color: var(--color-secondary-300);
    }
  }

  &__source {
    width: 26px;
    height: 26px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__desc {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 300;
    color: var(--color-grey-dark);
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 24px;

    @include mq($l) {
      font-size: 18px;
      line-height: 1.32;
      -webkit-line-clamp: 4;
    }
  }

  &__bottom {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: auto;
  }

  &__more {
    font-size: 18px;
    line-height: 1.56;
    font-family: var(--font-secondary);
  }
}