.reviews {
  overflow: hidden;
  position: relative;
  z-index: 1;

  &__bg {
    position: absolute;
    top: 40px;
    left: 0;
    display: block;
    width: 100%;
    z-index: -1;

    @include mq($xxl) {
      top: 215px;
    }

    @include mq($xl) {
      top: 50%;
      transform: translateY(-50%);
    }

    img {
      display: block;
      width: 100%;
    }
  }

  &__slider {
    padding-top: 90px;

    @include mq($l) {
      padding-top: 50px;
    }

    @include mq($m) {
      padding-top: 0;
    }

    .common-slider-buttons {
      display: none;

      @include mq($xxl) {
        display: flex;
        padding-top: 24px;
      }

      @include mq($m) {
        padding-top: 32px;
      }
    }

    .common-slider-scrollbar {
      @include mq($xxl) {
        display: none;
      }
    }

    .swiper-slide {
      width: 460px;
      height: 460px;
      transform: translateY(-40px);

      @include mq($l) {
        width: 320px;
        height: 378px;
        transform: translateY(-20px);
      }

      @include mq($m) {
        transform: translate(0px);
      }
    }


    .swiper-slide-next,
    .swiper-slide-prev {
      transform: translateY(0px);
    }

    .swiper-slide-active {
      transform: translateY(-90px);
      transition: 0.3s ease;

      @include mq($l) {
        transform: translateY(-50px);
      }

      @include mq($m) {
        transform: translate(0px);
      }
    }
  }

  &__bottom {
    display: none;

    @include mq($m) {
      display: block;
      margin-top: 36px;
    }
  }
}

.reviews-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 40px;
  background-color: var(--color-bg-main);
  box-shadow: 0px 0px 7px 4px #00000008;
  border-radius: 36px;

  @include mq($l) {
    padding: 30px;
  }

  &__date {
    line-height: 1.5;
    color: var(--color-blck-300);
    margin-bottom: 40px;

    @include mq($l) {
      font-size: 14px;
      line-height: 1.4;
      margin-bottom: 30px;
    }
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;

    @include mq($l) {
      margin-bottom: 15px;
    }
  }

  &__stars {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__star {
    color: var(--color-grey-light);

    &.is-highlighted {
      color: var(--color-secondary-300);
    }
  }

  &__source {
    width: 26px;
    height: 26px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__desc {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 300;
    color: var(--color-grey-dark);
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 24px;

    @include mq($l) {
      font-size: 18px;
      line-height: 1.32;
      -webkit-line-clamp: 4;
    }
  }

  &__author {
    margin-top: auto;
    font-size: 18px;
    line-height: 1.4;
    font-family: var(--font-secondary);
  }
}