section.gallery-photos.section-top.section-w-decor
  picture.section-decor-img 
    img(src="./img/decor/mountains.svg", alt="")
  .container     
    .heading 
      h1.h1 Заголовок альбома в две строки сделать ограничение в две строки
    .gallery-photos__grid
      .grid 
        .grid-item 
          a(href="#" data-fancybox data-src="#modal-photos" data-pic-id="0").grid-item__img 
            img(src="./img/photos/img-01.jpg", alt="")
        .grid-item 
          a(href="#" data-fancybox data-src="#modal-photos" data-pic-id="1").grid-item__img
            img(src="./img/photos/img-02.jpg", alt="")
        .grid-item 
          a(href="#" data-fancybox data-src="#modal-photos" data-pic-id="2").grid-item__img 
            img(src="./img/photos/img-03.jpg", alt="")
        .grid-item 
          a(href="#" data-fancybox data-src="#modal-photos" data-pic-id="3").grid-item__img
            img(src="./img/photos/img-05.jpg", alt="")
        .grid-item 
          a(href="#" data-fancybox data-src="#modal-photos" data-pic-id="4").grid-item__img
            img(src="./img/photos/img-01.jpg", alt="")
        .grid-item 
          a(href="#" data-fancybox data-src="#modal-photos" data-pic-id="5").grid-item__img
            img(src="./img/photos/img-02.jpg", alt="")
        .grid-item 
          a(href="#" data-fancybox data-src="#modal-photos" data-pic-id="6").grid-item__img
            img(src="./img/photos/img-03.jpg", alt="")
        .grid-item 
          a(href="#" data-fancybox data-src="#modal-photos" data-pic-id="7").grid-item__img
            img(src="./img/photos/img-05.jpg", alt="")
        .grid-item 
          a(href="#" data-fancybox data-src="#modal-photos" data-pic-id="8").grid-item__img
            img(src="./img/photos/img-01.jpg", alt="")
        .grid-item 
          a(href="#" data-fancybox data-src="#modal-photos" data-pic-id="9").grid-item__img
            img(src="./img/photos/img-02.jpg", alt="")
        .grid-item 
          a(href="#" data-fancybox data-src="#modal-photos" data-pic-id="10").grid-item__img
            img(src="./img/photos/img-03.jpg", alt="")
        .grid-item 
          a(href="#" data-fancybox data-src="#modal-photos" data-pic-id="11").grid-item__img
            img(src="./img/photos/img-05.jpg", alt="")
        .grid-item 
          a(href="#" data-fancybox data-src="#modal-photos" data-pic-id="12").grid-item__img
            img(src="./img/photos/img-01.jpg", alt="")
