section.gallery-photos.section-top.section-w-decor
  picture.section-decor-img 
    img(src="./img/decor/mountains.svg", alt="")
  .container     
    .heading 
      h1.h1 Заголовок альбома в две строки сделать ограничение в две строки
    .gallery-photos__grid
      .grid 
        .grid-item 
          a(href="#" data-fancybox data-src="#modal-photos").grid-item__img 
            img(src="./img/photos/img-01.jpg", alt="")
        .grid-item 
          a(href="#" data-fancybox data-src="#modal-photos").grid-item__img.grid-item__img--vertical 
            img(src="./img/photos/img-02.jpg", alt="")
        .grid-item 
          a(href="#" data-fancybox data-src="#modal-photos").grid-item__img 
            img(src="./img/photos/img-03.jpg", alt="")
        .grid-item 
          a(href="#" data-fancybox data-src="#modal-photos").grid-item__img
            img(src="./img/photos/img-05.jpg", alt="")
        .grid-item 
          a(href="#" data-fancybox data-src="#modal-photos").grid-item__img
            img(src="./img/photos/img-01.jpg", alt="")
        .grid-item 
          a(href="#" data-fancybox data-src="#modal-photos").grid-item__img.grid-item__img--vertical 
            img(src="./img/photos/img-02.jpg", alt="")
        .grid-item 
          a(href="#" data-fancybox data-src="#modal-photos").grid-item__img
            img(src="./img/photos/img-03.jpg", alt="")
        .grid-item 
          a(href="#" data-fancybox data-src="#modal-photos").grid-item__img
            img(src="./img/photos/img-05.jpg", alt="")
        .grid-item 
          a(href="#" data-fancybox data-src="#modal-photos").grid-item__img
            img(src="./img/photos/img-01.jpg", alt="")
        .grid-item 
          a(href="#" data-fancybox data-src="#modal-photos").grid-item__img.grid-item__img--vertical 
            img(src="./img/photos/img-02.jpg", alt="")
        .grid-item 
          a(href="#" data-fancybox data-src="#modal-photos").grid-item__img
            img(src="./img/photos/img-03.jpg", alt="")
        .grid-item 
          a(href="#" data-fancybox data-src="#modal-photos").grid-item__img
            img(src="./img/photos/img-05.jpg", alt="")
        .grid-item 
          a(href="#" data-fancybox data-src="#modal-photos").grid-item__img
            img(src="./img/photos/img-01.jpg", alt="")
        .grid-item 
          a(href="#" data-fancybox data-src="#modal-photos").grid-item__img.grid-item__img--vertical 
            img(src="./img/photos/img-02.jpg", alt="")
        .grid-item 
          a(href="#" data-fancybox data-src="#modal-photos").grid-item__img
            img(src="./img/photos/img-03.jpg", alt="")
        .grid-item 
          a(href="#" data-fancybox data-src="#modal-photos").grid-item__img
            img(src="./img/photos/img-05.jpg", alt="")
