.grid {
  width: 100%;
}

.grid-item {
  width: calc(25% - 18px);
  margin-bottom: 24px;

  @include mq($xl) {
    width: calc(33.333% - 16px);
  }


  @include mq($l) {
    width: calc(50% - 12px);
  }

  @include mq($s) {
    width: 100%;
  }

  &__img {
    position: relative;
    display: block;
    width: 100%;
    border-radius: var(--rounded-xl);
    overflow: hidden;

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(43, 42, 41, 0) 50.48%, #2B2A29 100%);
    }

    &--vertical {
      &::before {
        background: linear-gradient(90deg, rgba(43, 42, 41, 0) 50.48%, #2B2A29 100%);
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}