footer.footer 
  .container 
    .footer__inner 
      a(href="#").footer__logo
        img(src="./img/logo.svg", alt="Энергия высоты")
      .footer__main
        nav.footer__nav
          .footer__nav-title О комплексе
          ul.footer__nav-list
            li.footer__nav-item 
              a(href="#") Новости
            li.footer__nav-item 
              a(href="#") Блог
            li.footer__nav-item 
              a(href="#") Цены
            li.footer__nav-item 
              a(href="#") Акции
            li.footer__nav-item 
              a(href="#") Отзывы
            li.footer__nav-item 
              a(href="#") Спортшкола
            li.footer__nav-item 
              a(href="#") Расписание занятий
            li.footer__nav-item 
              a(href="#") Часто задаваемые вопросы
            li.footer__nav-item 
              a(href="#") Контакты
            li.footer__nav-item 
              a(href="#") Правовая информация
        nav.footer__nav
          .footer__nav-title Развлечения
          ul.footer__nav-list
            li.footer__nav-item 
              a(href="#") Веревочный парк
            li.footer__nav-item 
              a(href="#") Спортивный скалодром 
            li.footer__nav-item 
              a(href="#") Виа Феррата 
            li.footer__nav-item 
              a(href="#") Сеточный лабиринт
            li.footer__nav-item 
              a(href="#") Троллей 
            li.footer__nav-item 
              a(href="#") Прыжок с крыла самолета 
            li.footer__nav-item 
              a(href="#") Для активного 
        nav.footer__nav
          .footer__nav-title Услуги
          ul.footer__nav-list
            li.footer__nav-item 
              a(href="#") Кафе
            li.footer__nav-item 
              a(href="#") Детские праздники
            li.footer__nav-item 
              a(href="#") Праздники для взрослых 
            li.footer__nav-item 
              a(href="#") Корпоративы 
            li.footer__nav-item 
              a(href="#") Секции 
            li.footer__nav-item 
              a(href="#") Организаторам туров
            li.footer__nav-item 
              a(href="#") Франшиза
            li.footer__nav-item 
              a(href="#") Для активного 
        .footer__contacts
          a(href="#").footer__contacts-tel 
            +svg(24, 24, "tel")
            span +7 (812) 335-65-55
          .footer__contacts-info 
            .footer__contacts-address 
              +svg(24, 24, "address")
              span СПб, ул. Софийская, 14
            .footer__contacts-schedule 
              .footer__contacts-schedule-item 10:00-22:00
                span Веревочный парк
              .footer__contacts-schedule-item 10:00-23:00
                span Скалодром
          .footer__contacts-socials
            .socials 
              a(href="#").socials__item.socials__item_l.socials__item_grey
                +svg(20, 20, "vk")
              a(href="#").socials__item.socials__item_l.socials__item_grey
                +svg(20, 20, "tg")
          a(href="#").footer__contacts-btn.btn.btn_gradient.btn_wide
            span Купить билет
            +svg(24, 24, "tickets")
      .footer__bottom
        a(href="#").footer__policy Политика обработки персональных данных
        .footer__copy  © 2022. Все права защищены 
a(href="#" data-scroll-btn="top").scroll-to-top
  +svg(20, 20, 'arrow-to-top')
