.modal-photos(style="display: none" id="modal-photos")
  button(type="button" data-fancybox-close).modal-photos__close
    +svg(24, 24, 'close')
  .modal-photos__inner 
    .container 
      .modal-photos__slider(data-slider="photos-slider") 
        .swiper-wrapper
          .swiper-slide 
              picture.modal-photos__img
                img(src="./img/photos/main-01.jpg", alt="")
          .swiper-slide 
              picture.modal-photos__img
                img(src="./img/photos/main-02.jpg", alt="")
          .swiper-slide 
              picture.modal-photos__img
                img(src="./img/photos/main-03.jpg", alt="")
          .swiper-slide 
              picture.modal-photos__img
                img(src="./img/photos/main-01.jpg", alt="")
          .swiper-slide 
              picture.modal-photos__img
                img(src="./img/photos/main-01.jpg", alt="")
          .swiper-slide 
              picture.modal-photos__img
                img(src="./img/photos/main-01.jpg", alt="")
          .swiper-slide 
              picture.modal-photos__img
                img(src="./img/photos/main-01.jpg", alt="")
          .swiper-slide 
              picture.modal-photos__img
                img(src="./img/photos/main-01.jpg", alt="")
          .swiper-slide 
              picture.modal-photos__img
                img(src="./img/photos/main-01.jpg", alt="")
          .swiper-slide 
              picture.modal-photos__img
                img(src="./img/photos/main-01.jpg", alt="")
          .swiper-slide 
              picture.modal-photos__img
                img(src="./img/photos/main-01.jpg", alt="")
          .swiper-slide 
              picture.modal-photos__img
                img(src="./img/photos/main-01.jpg", alt="")
          .swiper-slide 
              picture.modal-photos__img
                img(src="./img/photos/main-01.jpg", alt="")
      .modal-photos__thumbs(data-slider="photos-thumbs") 
        .swiper-wrapper 
          .swiper-slide 
            picture.modal-photos__thumb
              img(src="./img/photos/main-01.jpg", alt="")
          .swiper-slide 
            picture.modal-photos__thumb
              img(src="./img/photos/main-02.jpg", alt="")
          .swiper-slide 
            picture.modal-photos__thumb
              img(src="./img/photos/main-03.jpg", alt="")
          .swiper-slide 
            picture.modal-photos__thumb
              img(src="./img/photos/main-01.jpg", alt="")
          .swiper-slide 
            picture.modal-photos__thumb
              img(src="./img/photos/main-01.jpg", alt="")
          .swiper-slide 
            picture.modal-photos__thumb
              img(src="./img/photos/main-01.jpg", alt="")
          .swiper-slide 
            picture.modal-photos__thumb
              img(src="./img/photos/main-01.jpg", alt="")
          .swiper-slide 
            picture.modal-photos__thumb
              img(src="./img/photos/main-01.jpg", alt="")
          .swiper-slide 
            picture.modal-photos__thumb
              img(src="./img/photos/main-01.jpg", alt="")
          .swiper-slide 
            picture.modal-photos__thumb
              img(src="./img/photos/main-01.jpg", alt="")
          .swiper-slide 
            picture.modal-photos__thumb
              img(src="./img/photos/main-01.jpg", alt="")
          .swiper-slide 
            picture.modal-photos__thumb
              img(src="./img/photos/main-01.jpg", alt="")
          .swiper-slide 
            picture.modal-photos__thumb
              img(src="./img/photos/main-01.jpg", alt="")
      .modal-photos__bottom
        .common-slider-scrollbar
          .swiper-scrollbar(data-slider-scrollbar="photos-thumbs")