.socials {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    background-color: var(--color-white);
    color: var(--color-blck-700);
    border-radius: 50%;
    transition: background-color 0.3s ease;

    @include mq($l) {
      width: 40px;
      height: 40px;
    }

    @include mq-hover {
      background-color: var(--color-blck-50);
    }

    &_l {

      @include mq($l) {
        width: 50px;
        height: 50px;
      }
    }

    &_grey {
      background-color: var(--color-grey-light);
    }
  }
}