section.entertainments.section-top
  .container 
    .entertainments__list 
      a(href="#").entertainments__item
        .entertainments__item-main
          picture.entertainments__item-img 
            img(src="./img/entertainments/img-01.png", alt="Праздники для детей")
          .entertainments__item-icon.btn-icon.btn-icon_xl
            +svg(28, 28, 'arrow-link')
        .entertainments__item-title 
          | Праздники 
          | для&nbsp;детей
      a(href="#").entertainments__item
        .entertainments__item-main
          picture.entertainments__item-img 
            img(src="./img/entertainments/img-02.png", alt="Корпоративы и праздники для взрослых")
          .entertainments__item-icon.btn-icon.btn-icon_xl
            +svg(28, 28, 'arrow-link')
        .entertainments__item-title 
          | Корпоративы 
          | и&nbsp;праздники 
          | для взрослых