section.service.section-top 
  .service__bg  
    img(src="./img/decor/mountains.svg", alt="")
  .container 
    .service__wrapper
      .service__hero 
        picture.service__hero-img 
          img(src="./img/service/service-01.png", alt="Веревочный парк")
        .service__hero-info 
          h1.service__hero-title.h1 Веревочный парк
          .service__hero-panel 
            button.service__hero-btn.btn.btn_l.btn_gradient
              span Купить билет
              +svg(28, 28, 'tickets')
            .service__hero-details 
              .service__hero-detail 
                .service__hero-detail-value 4+
                .service__hero-detail-label Возраст
              .service__hero-detail 
                .service__hero-detail-value от 120
                .service__hero-detail-label Рост (см)
              .service__hero-detail 
                .service__hero-detail-value от 10
                .service__hero-detail-label человек
      .service__inner
        .service__content
          .sv-block 
            .sv-block__content 
              .sv-desc  
                p 
                  b Самый масштабный в России крытый веревочный парк* 
                    br
                    |(*является крупнейшим по протяженности трасс крытым веревочным парком в РФ по данным Книги Рекордов России).
              .sv-desc 
                p Настоящих искателей приключений и ценителей активного отдыха ждет огромный веревочный парк под куполом 17-метрового свода. 
                p Прыжок с крыла самолета и 150 оригинальных заданий, включая переправу в магазинной тележке, веревочную паутину, ванну над пропастью и многое другое. 
          .sv-block 
            .sv-block__title Уникальный дизайн трасс и заданий
            .sv-block__content
              picture.sv-img 
                img(src="./img/service/img-01.png", alt="Фото 1")
          .sv-block 
            .sv-block__title Непрерывная система страховки
            .sv-block__content
              picture.sv-img 
                img(src="./img/service/img-02.png", alt="Фото 1")
          .sv-block 
            .sv-block__title Высокий уровень безопасности
            .sv-block__content
              picture.sv-img 
                img(src="./img/service/img-03.png", alt="Фото 1")
          .sv-block 
            .sv-block__title Описание уровней парка
            .sv-block__content 
              .sv-levels
                .sv-levels__inner(data-h-content="sv-levels")
                  .sv-levels__section 
                    .sv-levels__section-title Уровень 1
                    .sv-levels__section-blocks
                      .sv-levels__section-block 
                        .sv-levels__track 
                          picture.sv-levels__track-img 
                            img(src="./img/services/level-01.jpg", alt="")
                          .sv-levels__track-info 
                            .sv-levels__track-top 
                              .sv-levels__track-title Трасса 1
                              .sv-levels__track-duration  
                                +svg(16, 16, 'timer')
                                span 8 мин
                            .sv-levels__track-details 
                              .sv-levels__track-detail 
                                .sv-levels__track-detail-main
                                  .sv-levels__track-detail-value 1
                                  .sv-levels__track-detail-complexity.sv-levels__track-detail-complexity--easy
                                    .sv-levels__track-detail-complexity-cell.is-active
                                    .sv-levels__track-detail-complexity-cell
                                    .sv-levels__track-detail-complexity-cell
                                    .sv-levels__track-detail-complexity-cell
                                    .sv-levels__track-detail-complexity-cell
                                    .sv-levels__track-detail-complexity-cell
                                    .sv-levels__track-detail-complexity-cell
                                    .sv-levels__track-detail-complexity-cell
                                    .sv-levels__track-detail-complexity-cell
                                    .sv-levels__track-detail-complexity-cell
                                .sv-levels__track-detail-label Сложность
                              .sv-levels__track-detail 
                                .sv-levels__track-detail-main
                                  .sv-levels__track-detail-value 13
                                .sv-levels__track-detail-label Заданий
                              .sv-levels__track-detail 
                                .sv-levels__track-detail-main
                                  .sv-levels__track-detail-value 63 м
                                .sv-levels__track-detail-label Протяженность
                              .sv-levels__track-detail 
                                .sv-levels__track-detail-main
                                  .sv-levels__track-detail-value 1 м
                                .sv-levels__track-detail-label Высота
                  .sv-levels__section 
                    .sv-levels__section-title Уровень 2
                    .sv-levels__section-blocks
                      .sv-levels__section-block 
                        .sv-levels__track 
                          .sv-levels__track-info 
                            .sv-levels__track-top
                              .sv-levels__track-title Трасса 1
                            .sv-levels__track-details 
                              .sv-levels__track-detail 
                                .sv-levels__track-detail-main
                                  .sv-levels__track-detail-value 2
                                  .sv-levels__track-detail-complexity.sv-levels__track-detail-complexity--easy 
                                    .sv-levels__track-detail-complexity-cell.is-active
                                    .sv-levels__track-detail-complexity-cell.is-active
                                    .sv-levels__track-detail-complexity-cell
                                    .sv-levels__track-detail-complexity-cell
                                    .sv-levels__track-detail-complexity-cell
                                    .sv-levels__track-detail-complexity-cell
                                    .sv-levels__track-detail-complexity-cell
                                    .sv-levels__track-detail-complexity-cell
                                    .sv-levels__track-detail-complexity-cell
                                    .sv-levels__track-detail-complexity-cell
                                .sv-levels__track-detail-label Сложность
                              .sv-levels__track-detail 
                                .sv-levels__track-detail-main
                                  .sv-levels__track-detail-value 13
                                .sv-levels__track-detail-label Заданий
                              .sv-levels__track-detail 
                                .sv-levels__track-detail-main
                                  .sv-levels__track-detail-value 1 м
                                .sv-levels__track-detail-label Высота
                              .sv-levels__track-detail 
                                .sv-levels__track-detail-main
                                  .sv-levels__track-detail-value 63 м
                                .sv-levels__track-detail-label Протяженность
                              .sv-levels__track-detail 
                                .sv-levels__track-detail-main
                                  .sv-levels__track-detail-value 8 мин
                                .sv-levels__track-detail-label Время прохождения
                      .sv-levels__section-block 
                        .sv-levels__track 
                          .sv-levels__track-info 
                            .sv-levels__track-top
                              .sv-levels__track-title Трасса 2
                            .sv-levels__track-details 
                              .sv-levels__track-detail 
                                .sv-levels__track-detail-main
                                  .sv-levels__track-detail-value 4
                                  .sv-levels__track-detail-complexity.sv-levels__track-detail-complexity--medium 
                                    .sv-levels__track-detail-complexity-cell.is-active
                                    .sv-levels__track-detail-complexity-cell.is-active
                                    .sv-levels__track-detail-complexity-cell.is-active
                                    .sv-levels__track-detail-complexity-cell.is-active
                                    .sv-levels__track-detail-complexity-cell
                                    .sv-levels__track-detail-complexity-cell
                                    .sv-levels__track-detail-complexity-cell
                                    .sv-levels__track-detail-complexity-cell
                                    .sv-levels__track-detail-complexity-cell
                                    .sv-levels__track-detail-complexity-cell
                                .sv-levels__track-detail-label Сложность
                              .sv-levels__track-detail 
                                .sv-levels__track-detail-main
                                  .sv-levels__track-detail-value 13
                                .sv-levels__track-detail-label Заданий
                              .sv-levels__track-detail 
                                .sv-levels__track-detail-main
                                  .sv-levels__track-detail-value 1 м
                                .sv-levels__track-detail-label Высота
                              .sv-levels__track-detail 
                                .sv-levels__track-detail-main
                                  .sv-levels__track-detail-value 63 м
                                .sv-levels__track-detail-label Протяженность
                              .sv-levels__track-detail 
                                .sv-levels__track-detail-main
                                  .sv-levels__track-detail-value 8 мин
                                .sv-levels__track-detail-label Время прохождения
                      .sv-levels__section-block 
                        .sv-levels__track 
                          .sv-levels__track-info 
                            .sv-levels__track-top
                              .sv-levels__track-title Трасса 3
                            .sv-levels__track-details 
                              .sv-levels__track-detail 
                                .sv-levels__track-detail-main
                                  .sv-levels__track-detail-value 5
                                  .sv-levels__track-detail-complexity.sv-levels__track-detail-complexity--medium 
                                    .sv-levels__track-detail-complexity-cell.is-active
                                    .sv-levels__track-detail-complexity-cell.is-active
                                    .sv-levels__track-detail-complexity-cell.is-active
                                    .sv-levels__track-detail-complexity-cell.is-active
                                    .sv-levels__track-detail-complexity-cell.is-active
                                    .sv-levels__track-detail-complexity-cell
                                    .sv-levels__track-detail-complexity-cell
                                    .sv-levels__track-detail-complexity-cell
                                    .sv-levels__track-detail-complexity-cell
                                    .sv-levels__track-detail-complexity-cell
                                .sv-levels__track-detail-label Сложность
                              .sv-levels__track-detail 
                                .sv-levels__track-detail-main
                                  .sv-levels__track-detail-value 13
                                .sv-levels__track-detail-label Заданий
                              .sv-levels__track-detail 
                                .sv-levels__track-detail-main
                                  .sv-levels__track-detail-value 1 м
                                .sv-levels__track-detail-label Высота
                              .sv-levels__track-detail 
                                .sv-levels__track-detail-main
                                  .sv-levels__track-detail-value 63 м
                                .sv-levels__track-detail-label Протяженность
                              .sv-levels__track-detail 
                                .sv-levels__track-detail-main
                                  .sv-levels__track-detail-value 8 мин
                                .sv-levels__track-detail-label Время прохождения
                      .sv-levels__section-block 
                        .sv-levels__track 
                          .sv-levels__track-info 
                            .sv-levels__track-top
                              .sv-levels__track-title Трасса 4
                            .sv-levels__track-details 
                              .sv-levels__track-detail 
                                .sv-levels__track-detail-main
                                  .sv-levels__track-detail-value 8
                                  .sv-levels__track-detail-complexity.sv-levels__track-detail-complexity--hard 
                                    .sv-levels__track-detail-complexity-cell.is-active
                                    .sv-levels__track-detail-complexity-cell.is-active
                                    .sv-levels__track-detail-complexity-cell.is-active
                                    .sv-levels__track-detail-complexity-cell.is-active
                                    .sv-levels__track-detail-complexity-cell.is-active
                                    .sv-levels__track-detail-complexity-cell.is-active
                                    .sv-levels__track-detail-complexity-cell.is-active
                                    .sv-levels__track-detail-complexity-cell.is-active
                                    .sv-levels__track-detail-complexity-cell
                                    .sv-levels__track-detail-complexity-cell
                                .sv-levels__track-detail-label Сложность
                              .sv-levels__track-detail 
                                .sv-levels__track-detail-main
                                  .sv-levels__track-detail-value 13
                                .sv-levels__track-detail-label Заданий
                              .sv-levels__track-detail 
                                .sv-levels__track-detail-main
                                  .sv-levels__track-detail-value 1 м
                                .sv-levels__track-detail-label Высота
                              .sv-levels__track-detail 
                                .sv-levels__track-detail-main
                                  .sv-levels__track-detail-value 63 м
                                .sv-levels__track-detail-label Протяженность
                              .sv-levels__track-detail 
                                .sv-levels__track-detail-main
                                  .sv-levels__track-detail-value 8 мин
                                .sv-levels__track-detail-label Время прохождения
                      .sv-levels__section-block 
                        .sv-levels__track 
                          .sv-levels__track-info 
                            .sv-levels__track-top
                              .sv-levels__track-title Трасса 5
                            .sv-levels__track-details 
                              .sv-levels__track-detail 
                                .sv-levels__track-detail-main
                                  .sv-levels__track-detail-value 10
                                  .sv-levels__track-detail-complexity.sv-levels__track-detail-complexity--hard 
                                    .sv-levels__track-detail-complexity-cell.is-active
                                    .sv-levels__track-detail-complexity-cell.is-active
                                    .sv-levels__track-detail-complexity-cell.is-active
                                    .sv-levels__track-detail-complexity-cell.is-active
                                    .sv-levels__track-detail-complexity-cell.is-active
                                    .sv-levels__track-detail-complexity-cell.is-active
                                    .sv-levels__track-detail-complexity-cell.is-active
                                    .sv-levels__track-detail-complexity-cell.is-active
                                    .sv-levels__track-detail-complexity-cell.is-active
                                    .sv-levels__track-detail-complexity-cell.is-active
                                .sv-levels__track-detail-label Сложность
                              .sv-levels__track-detail 
                                .sv-levels__track-detail-main
                                  .sv-levels__track-detail-value 13
                                .sv-levels__track-detail-label Заданий
                              .sv-levels__track-detail 
                                .sv-levels__track-detail-main
                                  .sv-levels__track-detail-value 1 м
                                .sv-levels__track-detail-label Высота
                              .sv-levels__track-detail 
                                .sv-levels__track-detail-main
                                  .sv-levels__track-detail-value 63 м
                                .sv-levels__track-detail-label Протяженность
                              .sv-levels__track-detail 
                                .sv-levels__track-detail-main
                                  .sv-levels__track-detail-value 8 мин
                                .sv-levels__track-detail-label Время прохождения
                .sv-levels__bottom
                  button(type="button" data-h-content-btn="sv-levels" data-visibile-text="Показать описание" data-hidden-text="Свернуть описание").sv-levels__btn.btn.btn_l.btn_gradient Показать описание
          
          .sv-block  
            .sv-block__title Возрастные ограничения 
              span 4+
            .sv-block__content 
              .sv-desc 
                p Для взрослых и детей — 
                  b от 4х лет. 
                p Рекомендуемый возраст Посетителя — 
                  b от 4-х лет.
                p Посетители 
                  b до 14 лет 
                  | допускаются к прохождению трасс только 
                  b в сопровождении взрослых 
                  | (сопровождение не требует доплаты).
                p Посетители 
                  b с 14 до 18 лет 
                  | допускаются к посещению парка при предоставлении 
                  b заполненной расписки 
                  | от законного представителя.          
          .sv-block 
            .sv-block__title Ограничения по росту
            .sv-block__content 
              .sv-text
                | 1-й уровнь — до 140 см (рекомендуемый возраст — от 4-х лет)
                br
                | 2-3 уровни — от 120 см (рекомендуемый возраст — от 7 лет)
                br
                | 4-й уровень — от 140 см (рекомендуемый возраст — от 10 лет)
                br 
                | 5-й уровень — от 150 см (рекомендуемый возраст — от 10 лет)
          .sv-block 
            .sv-block__title Ограничения по весу
            .sv-block__content 
              .sv-text Максимально допустимый вес для посещения парка — 
                b 100 кг
          .sv-block 
            .sv-block__title Правила посещения
            .sv-block__content 
              .sv-documents 
                a(href="#").sv-documents__item 
                  +svg(20, 20, 'document')
                  span Правила посещения комплекса
                a(href="#").sv-documents__item 
                  +svg(20, 20, 'document')
                  span Техника безопасности QuickJump
                a(href="#").sv-documents__item 
                  +svg(20, 20, 'document')
                  span Техника безопасности Троллей
                a(href="#").sv-documents__item 
                  +svg(20, 20, 'document')
                  span Техника безопасности в веревочном парке
          .sv-block 
            .sv-block__title Скидки
            .sv-block__content 
              .sv-discount 
                .sv-discount__list 
                  .sv-discount__item 
                    .sv-discount__item-sticker 20%
                    .sv-discount__item-desc Многодетным
                  .sv-discount__item 
                    .sv-discount__item-sticker 50%
                    .sv-discount__item-desc Именинникам
                      span *Действует в день рождения +/- 1 день. Не действует на пакетные предложения празднования дня рождения и выпускного, а также на аренду комнат для чаепития.
                  .sv-discount__item 
                    .sv-discount__item-sticker 20%
                    .sv-discount__item-desc Студентам
                  .sv-discount__item 
                    .sv-discount__item-sticker 10%
                    .sv-discount__item-desc Единая карта Петербуржца
                  .sv-discount__item 
                    .sv-discount__item-sticker 10%
                    .sv-discount__item-desc от 15 человек при единовременной оплате
                  .sv-discount__item 
                    .sv-discount__item-sticker 15%
                    .sv-discount__item-desc от 25 человек при единовременной оплате 
              .sv-desc 
                ul 
                  li Скидки предоставляются только на билеты в верёвочный парк. 
                  li Скидки не распространяются на покупку сертификатов, абонементов, праздничных пакетов и не суммируются с другими акциями и скидками. 
                  li Скидки не распространяются на покупку билетов на сайте. 
                  li Скидки действительны только для физических лиц. В случае приобретения акционного/льготного билета Посетитель обязан предъявить документ, подтверждающий право на льготу или получение скидки, в противном случае администрация СРК вправе отказать в предоставлении льготы или скидки.
          .sv-block 
            .sv-block__content 
              .sv-attention 
                h2 Обратите внимание!
                ul 
                  li Для активного отдыха в верёвочном парке рекомендуем взять с собой 
                    span удобную спортивную одежду 
                    | и 
                    span обувь. 
                    | Также вы можете взять в аренду кеды, обратившись на стойку ресепшен
                  li 
                    span Сопровождающим 
                    | тоже необходимо иметь сменную обувь, в случае ее отсутствия можно воспользоваться бахилами
        .service__sidebar
          .service__gallery
            .service__gallery-title.h3 Фотогалерея
            .service__gallery-photos 
              .service__gallery-stack
                picture.service__gallery-photo 
                  img(src="./img/service/side-01.png", alt="Фото 1")
                picture.service__gallery-photo 
                  img(src="./img/service/side-02.png", alt="Фото 2")
                picture.service__gallery-photo 
                  img(src="./img/service/side-03.png", alt="Фото 3")
                picture.service__gallery-photo 
                  img(src="./img/service/side-04.png", alt="Фото 4")
                picture.service__gallery-photo 
                  img(src="./img/service/side-05.png", alt="Фото 5")
          .service__banner 
            .service__banner-mascot 
              img(src="./img/decor/rokki.svg", alt="")
            .service__banner-title.h3 Вы готовы к приключениям?
            .service__banner-desc Приобретайте билеты для взрослых и детей или сделайте классный подарок в виде сертификата на посещение
            .service__banner-price 
              .service__banner-price-title Стоимость посещения:
              .service__banner-price-summ от 99 999 руб.
            .service__banner-actions 
              button(type="button").btn.btn_l.btn_wide
                span Купить билет
                +svg(28, 28, 'tickets')
              a(href="#").btn.btn_l.btn_wide.btn_outline Подарочный сертификат

          