@import '../pug/sections/about/style.scss';
@import '../pug/sections/park-zones/style.scss';
@import '../pug/sections/other-services/style.scss';
@import '../pug/sections/hero/style.scss';
@import '../pug/sections/sertificat/style.scss';
@import '../pug/sections/shorts/style.scss';
@import '../pug/sections/promo/style.scss';
@import '../pug/sections/advantages/style.scss';
@import '../pug/sections/reviews/style.scss';
@import '../pug/sections/blog/style.scss';
@import '../pug/sections/article/style.scss';
@import '../pug/sections/promo-list/style.scss';
@import '../pug/sections/promo-detail/style.scss';
@import '../pug/sections/faq/style.scss';
@import '../pug/sections/videoclips/style.scss';
@import '../pug/sections/entertainments/style.scss';
@import '../pug/sections/services/style.scss';
@import '../pug/sections/service/style.scss';
@import '../pug/sections/contacts/style.scss';
@import '../pug/sections/loyal/style.scss';
@import '../pug/sections/not-found/style.scss';