@import 'libs/swiper';
@import 'libs/fancybox';


@import '_vars.scss';
@import 'base/reset';
@import 'base/fonts';
@import 'base/mixins';
@import 'base/base';
@import 'base/typography';
@import 'base/modals';
@import '_components.scss';
@import '_sections.scss';