section.s-about.section
  .container 
    .s-about__head 
      .s-about__head-main 6000&nbsp;м2 
      .s-about__head-desc увлекательных приключений и&nbsp;спорта
    .s-about__video 
      .videoplayer
        video(src="" poster="./img/about/preview.png").videoplayer__frame
        button(type="button").videoplayer__btn.btn-play
          +svg(36, 36, 'play-arrow')
    picture.s-about__bg 
      img(src="./img/about/bg.svg", alt="")