.s-about {
  position: relative;

  &__bg {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    z-index: -1;
    
    img {
      display: block;
      width: 100%;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 0 143px;
    margin-bottom: 40px;

    @include mq($xxl) {
      padding: 0;
    }

    @include mq($s) {
      flex-direction: column;
      align-items: center;
    }

    &-main {
      padding: 23px 35px;
      border: 1px solid var(--color-accent);
      border-radius: 999px;
      font-size: 60px;
      line-height: 1;
      font-family: var(--font-secondary);
      
      @include mq($xl) {
        font-size: 48px;
      }

      @include mq($l) {
        padding: 19px 35px;
        font-size: 36px;
        line-height: 1.12;
      }
    }

    &-desc {
      font-size: 48px;
      line-height: 1;

      @include mq($xl) {
        font-size: 36px;
      }

      @include mq($l) {
        font-size: 24px;
        line-height: 1.34;
      }

      @include mq($s)  {
        max-width: 250px;
        margin: 0 auto;
        text-align: center;
      }
    }
  }

  &__video {
    width: 100%;
    padding: 0 138px;

    @include mq($xxl) {
      padding: 0 16px;
    }

    @include mq($xl) {
      padding: 0;
    }
  }
}

.videoplayer {
  position: relative;
  display: block;
  width: 100%;
  height: 630px;
  border-radius: 60px;
  overflow: hidden;

  @include mq($xl) {
    height: 530px;
  }
  
  @include mq($l) {
    height: 378px;
  }

  @include mq($s)  {
    height: 193px;
    border-radius: 30px;
  }

  &__frame {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}