.hero {
  position: relative;
  z-index: 1;
  padding-top: 48px;

  @include mq($xxl) {
    padding-top: 40px;
  }

  @include mq($l) {
    padding: 36px 0;
  }

  @include mq($m) {
    padding: 24px 0;
  }

  &__bg {
    display: block;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;

    img {
      display: block;
      width: 100%;
    }
  }

  &__decor {
    position: absolute;
    width: 90px;
    height: 90px;
    padding: 6px;
    border-radius: 50%;
    border: 1px solid var(--color-blck-100);
    z-index: -1;

    @include mq($m) {
      width: 60px;
      height: 60px;
      padding: 4px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }

    &_l {
      width: 140px;
      height: 140px;

      @include mq($m) {
        width: 80px;
        height: 80px;
      }
    }

    &_s {
      width: 80px;
      height: 80px;
    }

    &_top {
      top: 34px;
      right: 10%;

      @include mq($xxl) {
        right: auto;
        top: 0;
        left: 234px;
      }

      @include mq($xl) {
        top: -50px;
        left: 180px;
      }

      @include mq($l) {
        top: auto;
        left: auto;
        bottom: -24px;
        right: -10px;
      }

      @include mq($m) {
        inset: -20px 0 auto auto;
      }
    }

    &_bottom {
      bottom: -17px;
      right: 0;

      @include mq($xxl) {
        bottom: 30px;
      }

      @include mq($xl) {
        bottom: -20px;
      }

      @include mq($l) {
        bottom: auto;
        top: -20px;
        right: -5px;
      }

      @include mq($m) {
        inset: auto 0 -60px auto;
      }
    }

    &_left {
      left: 318px;
      bottom: 40px;

      @include mq($xxl) {
        left: 374px;
        bottom: 60px;
      }

      @include mq($xl) {
        left: 80px;
        bottom: 10px;
      }

      @include mq($l) {
        bottom: auto;
        top: 4px;
        left: 10px;
      }

      @include mq($m) {
        top: 36px;
        left: 16px;
      }
    }
  }

  &__top {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 11px;
    margin-bottom: 48px;
    padding-bottom: 28px;
    z-index: 1;

    @include mq($xxl) {
      gap: 24px;
      padding-top: 55px;
      margin-bottom: 12px;
      padding-bottom: 34px;
    }

    @include mq($xl) {
      padding-top: 0;
      gap: 4px;
      margin-bottom: 58px;
      padding-bottom: 30px;
    }

    @include mq($l) {
      flex-direction: column;
      align-items: center;
      gap: 16px;
      padding-bottom: 0;
      margin-bottom: 36px;
    }

    @include mq($m) {
      margin-bottom: 48px;
    }

    &-img {
      display: block;
      width: 300px;
      height: 300px;
      flex-shrink: 0;

      img {
        display: block;
        width: 100%;
        height: 100%;
      }

      @include mq($xxl) {
        width: 330px;
        height: 330px;
      }

      @include mq($xl) {
        width: 220px;
        height: 220px;
      }

      @include mq($l) {
        width: 140px;
        height: 140px;
      }

      @include mq($m) {
        width: 100px;
        height: 100px;
      }
    }

    &-info {
      width: 100%;
      padding-top: 34px;

      @include mq($xxl) {
        padding-top: 0;
      }
    }
  }

  &__head {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 48px;

    @include mq($xxl) {
      margin-bottom: 50px;
    }

    @include mq($xl) {
      padding-top: 20px;
      margin-bottom: 58px;
    }

    @include mq($l) {
      max-width: 100%;
      padding-top: 0;
      margin-bottom: 16px;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;

    @include mq($xxl) {
      width: 100%;
    }

    @include mq($l) {
      font-size: 30px;
      align-items: center;
      line-height: 1.2;
    }

    @include mq($m) {
      display: block;
      text-align: center;
    }

    span {
      display: inline-block;
      margin-left: 99px;
      margin-top: 16px;
      padding: 3px 34px 11px;
      border: 1px solid var(--color-accent);
      border-radius: 999px;

      @include mq($xxl) {
        margin-left: auto;
      }

      @include mq($l) {
        margin-left: 0;
      }

      @include mq($m) {
        padding: 0;
        margin: 0;
        border: none;
        border-radius: none;
        display: inline;
      }
    }
  }

  &__subtitle {
    font-size: 30px;
    line-height: 1.2;
    text-align: right;
    margin-left: auto;

    @include mq($xxl) {
      margin-left: 0;
    }

    @include mq($xl) {
      width: 100%;
      text-align: right;
    }

    @include mq($l) {
      text-align: center;
      font-size: 24px;
      line-height: 1.35;
    }
  }

  &__desc {
    max-width: 641px;
    margin-left: auto;
    margin-right: 194px;
    line-height: 1.5;
    font-weight: 200;
    text-align: right;
    font-style: italic;

    @include mq($xxl) {
      max-width: 411px;
      margin-right: 176px;
    }

    @include mq($xl) {
      max-width: 520px;
      margin-right: 194px;
    }

    @include mq($l) {
      margin: 0 auto;
      text-align: center;
    }
  }

  &__slider {
    position: relative;
    overflow: hidden;
    padding: 24px;
    background-color: var(--color-white);
    border-radius: 60px;
    box-shadow: 0px 4px 20px 0px #D6D5D54D;
    z-index: 1;

    @include mq($l) {
      padding: 16px;
    }

    .swiper-wrapper {
      gap: 16px;

      @include mq($l) {
        gap: 0;
      }
    }
  }
}

.hero-item {

  &.swiper-slide {
    width: 98px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 48px;
    overflow: hidden;
    height: 700px;
    cursor: pointer;
    transition: 0.3s ease;
    overflow: hidden;

    @include mq($xl) {
      width: 82px;
      height: 478px;
    }

    @include mq($l) {
      width: 100%;
      height: 560px;
    }

    @include mq($m) {
      height: 480px;
    }

    &.is-active {
      width: 100%;
      flex-grow: 1;
      flex-shrink: 1;
      cursor: default;

      @include mq($l) {
        flex-shrink: 0;
      }

      .hero-item__info,
      .hero-item__btn {
        opacity: 1;
        transition: 0.3s;
        transition-delay: 0.3s;
        transform: translateY(0);
      }

      .hero-item__preview {
        opacity: 0;
      }

      .hero-item__img {

        &::before {
          height: 260px;
        }
      }
    }
  }

  &__img {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    &::before {
      position: absolute;
      inset: auto 0 0 0;
      content: '';
      background: linear-gradient(0deg, rgba(13, 13, 13, 0.8) 40%, rgba(13, 13, 13, 0) 100%);
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: 0.3s ease;

      @include mq($l) {
        height: 260px;
      }
    }
  }

  &__info {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 28px 80px 28px 32px;
    transform: translateY(40px);
    transition: 0s ease;
    opacity: 0;
    z-index: 2;

    @include mq($l) {
      position: relative;
      inset: auto;
      opacity: 1;
      transform: translateY(0);
      margin-top: auto;
    }

    @include mq($m) {
      padding: 20px;
    }
  }

  &__title {
    font-size: 48px;
    line-height: 1;
    color: var(--color-white);
    margin-bottom: 32px;

    @include mq($xl) {
      font-size: 30px;
      margin-bottom: 24px;
    }
  }

  &__stickers {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__sticker {
    padding: 12px 32px;
    border-radius: 999px;
    background-color: var(--color-bg-main);

    @include mq($xl) {
      padding: 8px 20px;
    }

    @include mq($l) {
      text-align: center;
    }

    @include mq($m) {
      padding: 8px 16px;
    }

    &-title {
      font-size: 18px;
      white-space: nowrap;
      line-height: 1.56;
      font-family: var(--font-secondary);

      @include mq($xl) {
        font-size: 16px;
      }
    }

    &-desc {
      font-size: 12px;
      line-height: 1.35;
      text-transform: uppercase;
      color: var(--color-blck-400);

      @include mq($m) {
        text-transform: unset;
      }
    }
  }

  &__btn {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 50%;
    position: absolute;
    bottom: 28px;
    right: 28px;
    z-index: 2;
    opacity: 0;

    @include mq($l) {
      opacity: 1;
    }

    @include mq($m) {
      position: static;
      width: 100%;
      height: auto;
      padding: 20px 36px;
      border-radius: 99px;
      margin-top: 24px;
    }

    span {
      display: none;

      @include mq($m) {
        width: 100%;
        display: inline;
      }
    }

    svg {

      @include mq($m) {
        width: 28px;
        height: 28px;
      }
    }
  }

  &__preview {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0s ease;
    opacity: 1;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    gap: 24px;
    padding: 24px;

    @include mq($xl) {
      padding: 16px 16px 24px 16px;
    }

    @include mq($l) {
      display: none;
    }

    &-link {

      @include mq($xl) {
        width: 50px;
        height: 50px;
      }
    }

    &-title {
      writing-mode: vertical-lr;
      text-orientation: mixed;
      transform-origin: left top;
      font-size: 30px;
      line-height: 1.3;
      color: var(--color-white);
      // position: absolute;
      // bottom: -100px;
      // left: 50%;
      // transform: rotate(180deg) translateX(-50%);
    }
  }
}