section.promo.section-top
  .container 
    .promo__inner 
      .promo__content 
        .promo__head 
          .promo__date до 22.03.25
          .promo__title.h1 Скидки в дни школьных каникул
          .promo__subtitle Проведите школьные каникулы активно и выгодно —  скидки до 30% на посещение для школьников!
        .promo__main 
          h2 Для кого?
          p 1-й уровнь — до 140 см (рекомендуемый возраст — от 4-х лет);
            br
            | 2-3 уровни — от 120 см (рекомендуемый возраст — от 7 лет);
          p Максимально допустимый вес для посещения парка — 100 кг.
          h2 Сроки
          p Для активного отдыха в верёвочном парке рекомендуем взять с собой удобную спортивную одежду и обувь. Также вы можете взять в аренду кеды, обратившись на стойку ресепшен.
          h2 Как получить?
          p При заказе онлайн укажите промокод <a href="#">SCHOOL2023</a> или назовите акцию при оплате на месте.
        .sv-attention 
          h2 Обратите внимание!
          ul 
            li Скидка не суммируется с другими спецпредложениями
            li Для подтверждения возраста ребенка потребуется 
              span свидетельство о рождении/справка из школы
            li Забронируйте время заранее — количество участников в сеансах ограничено!
      picture.promo__img 
        img(src="./img/promo/main.png", alt="Акция")