.promo {

  &__inner {
    display: flex;
    align-items: flex-start;
    gap: 60px;

    @include mq($xl) {
      flex-direction: column;
      gap: 0;
    }
  }

  &__content {
    width: 59%;

    @include mq($xxl) {
      width: 57%;
    }

    @include mq($xl) {
      width: 100%;
      display: contents;
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 36px;

    @include mq($xl) {
      display: contents;
      margin-bottom: 0;
    }
  }

  &__date {
    display: inline-block;
    margin-bottom: 16px;
    padding: 11px 12px;
    background-color: var(--color-blck-50);
    border-radius: 72px;
    font-size: 14px;
    line-height: 1;
    font-family: var(--font-secondary);

    @include mq($xl) {
      order: -2;
      margin-bottom: 24px;
    }
  }

  &__title {
    margin-bottom: 48px;

    @include mq($l) {
      margin-bottom: 32px;
    }
  }

  &__subtitle {
    font-size: 24px;
    line-height: 1.3;
    font-weight: 300;
    color: var(--color-blck-400);

    @include mq($xl) {
      margin-bottom: 36px;
    }

    @include mq($l) {
      margin-bottom: 48px;
    }
  }


  &__main {
    margin-bottom: 36px;

    @include mq($l) {
      margin-bottom: 48px;
    }

    h2,
    p {
      margin: 36px 0;
      margin: 36px 0;

      @include mq($l) {
        margin: 48px 0;
      }

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    h2 {
      font-family: var(--font-secondary);
      font-size: 30px;
      line-height: 1.3;

      @include mq($l) {
        font-size: 24px;
      }
    }

    p {
      font-size: 18px;
      line-height: 1.56;
      font-weight: 300;
    }

    a {
      padding: 3px 15px;
      font-weight: 600;
      border: 1px solid var(--color-accent-500);
      border-radius: 60px;
    }
  }

  &__img {
    display: block;
    width: 41%;
    padding: 24px;
    border-radius: var(--rounded-5xl);
    box-shadow: 0px 4px 20px 0px #D6D5D54D;

    @include mq($xxl) {
      width: 42%;
    }

    @include mq($xl) {
      width: 100%;
      max-width: 460px;
      order: -1;
      margin-bottom: 40px;
    }

    @include mq($l) {
      padding: 16px;
      border-radius: var(--rounded-3xl);
    }

    img {
      display: block;
      width: 100%;
      border-radius: var(--rounded-3xl);

      @include mq($l) {
        border-radius: var(--rounded-xl);
      }
    }
  }
}